.n-map{
  $_: '.n-map';
  position: relative;
  height: 100%;
  width: 100%;
  background-color: $white;
  &__control{
    position: absolute;
    display: flex;
    &--close{
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 100;
    }
    &--zoom{
      left: 10px;
      bottom: 10px;
      display: flex;
      flex-direction: column;
    }
    &--fullscreen{
      right: 10px;
      top: 10px;
    }
    &--search{
      user-select: none;
      top: 10px;
      left: 10px;
      display: none;
      border-color: $card-bg;
      border-radius: $card-border-radius;
      padding: 10px;
      font-size: 13px;
      box-shadow: $card-box-shadow;
      background-color: $card-bg;
    }
    &--switch{
      right: 10px;
      bottom: 10px;
      .n-form__switch-label{
        box-shadow: $card-box-shadow !important;
      }
    }
  }
  &__btn{
    @extend .n-btn;
    border-color: $card-bg;
    border-radius: 50%;
    padding: 6px;
    box-shadow: $card-box-shadow !important;
    color: $info;
    font-size: 24px;
    background-color: $card-bg;
    &:hover,
    &:focus{
      border-color: $info;
      color: $white;
      background-color: $info;
    }
    & > .n-icon{
      display: block;
    }
    & + #{$_}__btn{
      margin-top: 12px;
    }
    &--card-close{
      padding: 2px;
      font-size: 16px;
      color: $secondary;
    }
  }
  &__card-offers{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &--switch{
    background: transparent;
    #{$_}__control{
      &--switch{
        position: static;

      }
    }
  }
}

@import 'map.responsive';
