.n-map{
  $_: '.n-map';
  @include media-breakpoint-up(sm) {
    &__card-offers{
      position: absolute;
      top: 50%;
      left: 50%;
      right: auto;
      bottom: auto;
      transform: translate(-50%, -50%);
    }
    &__control{
      &--close{
        top: -3px;
        right: -3px;
      }
    }
  } 
  @include media-breakpoint-up(xl) {
    &--card-list{
      #{$_}__control{
        &--search{
          display: block;
        }
        &--switch{
          display: none;
        }
      }
    }
  }
}
