mixin foot(data)
    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script(src='%=static=%js/separate-js/swiper-4.4.6/js/swiper.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')
