doctype html
html(class="no-js", lang="ru")

  include ../components/head/head.pug
  include ../components/foot/foot.pug

  head
    +head(head.defaults)
  body.page.br.no-branding
    |%=symbols=%
    section.pn2-section-main.d-flex
      section.page__wrapper
        //- div.n-page__header
        //-   //- +header()
        div.page__content

      //- div.n-page__footer
      //-   //- +footer()

    +foot()
