doctype html
html(class="no-js", lang="ru")

  include ../components/head/head.pug
  include ../components/foot/foot.pug
  include ../components/header/header.pug
  include ../components/footer/footer.pug
  include ../components/card/card.pug

  head
    +head(head.defaults)
  body.page.page--card-list.br.no-branding
    |%=symbols=%
    section.pn2-section-main.d-flex
      section.page__wrapper
        //- +header()
        div.page__content
          div.container-fluid.--extend-space
            div.page__row.row
              div.page__col.col

                main.page__main.--overhide(id="main")
                  nav.page__breadcrumb(aria-label="breadcrumb")
                    div.n-breadcrumb
                      ul.n-breadcrumb__list
                        li.n-breadcrumb__item
                          a.n-breadcrumb__link(href="#", title="Москва") Москва
                        li.n-breadcrumb__item.is-active
                          a.n-breadcrumb__link(href="#", title="Новостройки") Новостройки

                  div.n-card-list.n-card-list--empty
                    div.n-card-list__body
                      div.n-card-list__media
                        img.n-card-list__img(src="%=static=%img/assets/card-list/404-img.svg",
                          height="73px",
                          width="73px",
                          alt="Ничего не найдено")
                      b.n-card-list__title Ничего не найдено
                      div.n-card-list__text.n-card-list__text--secondary
                        p Возможно, вы задали жесткие условия поиска, попробуйте изменить параметры фильтров.

              div.page__col.col
                div.card-list.card-list--map
                  div.card__map.card__map--demo

        //- +footer()

    +foot()
