doctype html
html(class="no-js", lang="ru")

  include ../components/head/head.pug
  include ../components/foot/foot.pug
  include ../components/header/header.pug
  include ../components/footer/footer.pug
  include ../components/card/card.pug

  head
    +head(head.defaults)
  body.page.page--card-list.page--card-list-map.br.no-branding
    |%=symbols=%
    section.pn2-section-main.d-flex
      section.page__wrapper
        //- +header()
        div.page__content
          div.container-fluid.--extend-space
            div.page__row.row
              div.page__col.col

                main.page__main.--overhide(id="main")
                  nav.page__breadcrumb(aria-label="breadcrumb")
                    div.n-breadcrumb
                      ul.n-breadcrumb__list
                        li.n-breadcrumb__item
                          a.n-breadcrumb__link(href="#", title="Москва") Москва
                        li.n-breadcrumb__item.is-active
                          a.n-breadcrumb__link(href="#", title="Новостройки") Новостройки

                  div.n-card-list.n-card-list--empty
                    div.n-card-list__body
                      div.n-card-list__media
                        img.n-card-list__img(src="%=static=%img/assets/card-list/404-img.svg",
                          height="73px",
                          width="73px",
                          alt="Ничего не найдено")
                      b.n-card-list__title Ничего не найдено
                      div.n-card-list__text.n-card-list__text--secondary
                        p Возможно, вы задали жесткие условия поиска, попробуйте изменить параметры фильтров.
              div.page__col.col
                div.n-card-list.n-card-list--map-search.is-sticky
                  div.n-map.n-map--card-list.n-card__map.n-card__map--demo
                    div.n-map__control.n-map__control--search
                      div.n-form.n-form--search-map
                        div.n-form__group
                          div.n-form__check
                            input.n-form__check-input(type="checkbox", value="", id="nMapSearch")
                            label.n-form__check-label(for="nMapSearch") Поиск при перемещении карты
                    div.n-map__control.n-map__control--fullscreen
                      button.n-map__btn(role="button", title="На весь экран")
                        != pugHelpers.Icon.call(locals, {iconName: 'n-fullscreen', className: 'n-icon n-icon--fullscreen'})
                    div.n-map__control.n-map__control--zoom
                      button.n-map__btn(role="button", title="Увеличить")
                        != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-icon n-icon--plus'})
                      button.n-map__btn(role="button", title="Уменьшить")
                        != pugHelpers.Icon.call(locals, {iconName: 'n-minus', className: 'n-icon n-icon--minus'})

        //- +footer()

    +foot()
