doctype html
html(class="no-js", lang="ru")

  include ../components/head/head.pug
  include ../components/foot/foot.pug

  head
    +head(head.defaults)
  body.page.br.no-branding
    |%=symbols=%

    div.n-filter.n-filter--header.is-open(style="margin-bottom: 50px")
      div.n-filter__toggle
        div.n-filter__container.container-fluid
          button.n-filter__btn.n-filter__btn--toggle.n-btn.n-btn--block.n-btn--secondary(title="Скрыть параметры поиска")
            span.n-btn__text Скрыть параметры поиска
      div.n-filter__dropdown.n-form
        div.n-filter__content
          div.n-filter__header
            div.n-filter__container.container-fluid
              div.n-filter__row.n-filter__row--around.n-filter__row--header
                div.n-filter__col.n-filter__col--search
                  div.n-form__search
                    div.n-form__wrapper
                      input.n-form__control(type="text", placeholder="Локация или ЖК")
                      div.n-form__nav
                        nav.n-nav.n-nav--search(aria-label="Навигация по поиску")
                          ul.n-nav__list
                            li.n-nav__item
                              a.n-nav__link(href="#", title="Метро")
                                span.n-nav__badge 8
                                span.n-nav__text Метро
                            li.n-nav__item
                              a.n-nav__link(href="#", title="Район")
                                span.n-nav__text Район
                            li.n-nav__item
                              a.n-nav__link(href="#", title="Шоссе")
                                span.n-nav__text Шоссе

                    div.n-form__dropdown.n-form__dropdown--select(style="display: none")
                      div.n-form__list.n-form__list--select
                        div.n-form__lsit-group
                          div.n-form__list-title Новостройки
                          div.n-form__list-item
                            a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Архимед 2") Архимед 2
                            span.n-form__list-text Подмосковье, Сергиево-Посадский район, г. Сергиев-Посад
                          div.n-form__list-item
                            a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Нахимовский 21") Нахимовский 21
                            span.n-form__list-text Москва, ЮЗАО, Зюзино р-н
                          div.n-form__list-item
                            a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Химки 2019") Химки 2019
                            span.n-form__list-text Подмосковье, г.Химки
                        div.n-form__lsit-group
                          div.n-form__list-title Локации
                          div.n-form__list-item
                            a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                            span.n-form__list-text 34 новостройки
                          div.n-form__list-item
                            a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                            span.n-form__list-text 34 новостройки
                          div.n-form__list-item
                            a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                            span.n-form__list-text 34 новостройки
                          div.n-form__list-item
                            a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                            span.n-form__list-text 34 новостройки
                          div.n-form__list-item
                            a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                            span.n-form__list-text 34 новостройки
                          div.n-form__list-item
                            a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                            span.n-form__list-text 34 новостройки
                        div.n-form__lsit-group
                          div.n-form__list-title Новостройки
                          div.n-form__list-item
                            a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Архимед 2") Архимед 2
                            span.n-form__list-text Подмосковье, Сергиево-Посадский район, г. Сергиев-Посад
                          div.n-form__list-item
                            a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Нахимовский 21") Нахимовский 21
                            span.n-form__list-text Москва, ЮЗАО, Зюзино р-н
                          div.n-form__list-item
                            a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Химки 2019") Химки 2019
                            span.n-form__list-text Подмосковье, г.Химки
                          div.n-form__list-item
                            a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Архимед 2") Архимед 2
                            span.n-form__list-text Подмосковье, Сергиево-Посадский район, г. Сергиев-Посад
                          div.n-form__list-item
                            a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Нахимовский 21") Нахимовский 21
                            span.n-form__list-text Москва, ЮЗАО, Зюзино р-н
                          div.n-form__list-item
                            a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Химки 2019") Химки 2019
                            span.n-form__list-text Подмосковье, г.Химки

                    div.n-form__dropdown.n-form__dropdown--selected(style="display: none")
                      div.n-form__dropdown-header
                        div.n-from__dropdown-title Вы выбрали
                        div.n-form__dropdown-action
                          button.n-form__dropdown-btn.n-form__dropdown-btn--clean.n-btn.n-btn--sm.n-btn--link(aria-label="Очистить фильтр")
                            != pugHelpers.Icon.call(locals, {iconName: 'n-trash', className: 'n-btn__icon n-icon n-icon--trash'})
                            span.n-btn__text Очистить все
                      div.n-form__dropdown-body
                        div.n-tags.n-tags--selected
                          div.n-tags__content.is-open
                            ul.n-tags__list
                              li.n-tags__item
                                a.n-tags__link(href="#", title="Можайское 28")
                                  != pugHelpers.Icon.call(locals, {iconName: 'n-highway', className: 'n-tags__icon n-icon'})
                                  span.n-tags__text Можайское 28
                                  != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                              li.n-tags__item
                                a.n-tags__link(href="#", title="Красногорск")
                                  != pugHelpers.Icon.call(locals, {iconName: 'n-local', className: 'n-tags__icon n-icon'})
                                  span.n-tags__text Красногорск
                                  != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                              li.n-tags__item
                                a.n-tags__link(href="#", title="Красногорск")
                                  div.n-tags__icon.n-tags__icon--undegraund
                                    div.n-tags__icon-item(style="color: #DE1B1B")
                                    div.n-tags__icon-item(style="color: #5098F8")
                                    div.n-tags__icon-item(style="color: #266BC8")
                                    div.n-tags__icon-item(style="color: #9EB3CE")
                                  span.n-tags__text Библиотека им.Ленина
                                  != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                              li.n-tags__item
                                a.n-tags__link(href="#", title="Красногорск")
                                  div.n-tags__icon.n-tags__icon--undegraund
                                    div.n-tags__icon-item(style="color: #DE1B1B")
                                  span.n-tags__text Бульвар Рокоссовского
                                  != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                              li.n-tags__item
                                a.n-tags__link(href="#", title="Красногорск")
                                  div.n-tags__icon.n-tags__icon--undegraund
                                    div.n-tags__icon-item(style="color: #DE1B1B")
                                  span.n-tags__text Воробьевы горы
                                  != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                              li.n-tags__item
                                a.n-tags__link(href="#", title="Красногорск")
                                  div.n-tags__icon.n-tags__icon--undegraund
                                    div.n-tags__icon-item(style="color: #DE1B1B")
                                    div.n-tags__icon-item(style="color: #838383")
                                  span.n-tags__text Комсомольская
                                  != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                              li.n-tags__item
                                a.n-tags__link(href="#", title="Красногорск")
                                  div.n-tags__icon.n-tags__icon--undegraund
                                    div.n-tags__icon-item(style="color: #DE1B1B")
                                  span.n-tags__text Бульвар Рокоссовского
                                  != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                              li.n-tags__item
                                a.n-tags__link(href="#", title="Красногорск")
                                  div.n-tags__icon.n-tags__icon--undegraund
                                    div.n-tags__icon-item(style="color: #DE1B1B")
                                  span.n-tags__text Бульвар Рокоссовского
                                  != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                              li.n-tags__item
                                a.n-tags__link(href="#", title="Красногорск")
                                  div.n-tags__icon.n-tags__icon--undegraund
                                    div.n-tags__icon-item(style="color: #DE1B1B")
                                  span.n-tags__text Бульвар Рокоссовского
                                  != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                              li.n-tags__item
                                a.n-tags__link(href="#", title="Красногорск")
                                  div.n-tags__icon.n-tags__icon--undegraund
                                    div.n-tags__icon-item(style="color: #DE1B1B")
                                  span.n-tags__text Бульвар Рокоссовского
                                  != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                              li.n-tags__item
                                a.n-tags__link(href="#", title="Красногорск")
                                  div.n-tags__icon.n-tags__icon--undegraund
                                    div.n-tags__icon-item(style="color: #DE1B1B")
                                  span.n-tags__text Бульвар Рокоссовского
                                  != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})

                div.n-filter__col.n-filter__col--type
                  div.n-form__group.n-form__group--selector
                    div.n-form__selector
                      input.n-form__selector-input(type="checkbox", id="nFilterType01", name="nFilterYear", value="")
                      label.n-form__selector-label(for="nFilterType01")
                        div.n-form__selector-text Студия
                    div.n-form__selector
                      input.n-form__selector-input(type="checkbox", id="nFilterType02", name="nFilterYear", value="")
                      label.n-form__selector-label(for="nFilterType02")
                        div.n-form__selector-text 1
                    div.n-form__selector
                      input.n-form__selector-input(type="checkbox", id="nFilterType03", name="nFilterYear", value="")
                      label.n-form__selector-label(for="nFilterType03")
                        div.n-form__selector-text 2
                    div.n-form__selector
                      input.n-form__selector-input(type="checkbox", id="nFilterType04", name="nFilterYear", value="")
                      label.n-form__selector-label(for="nFilterType04")
                        div.n-form__selector-text 3
                    div.n-form__selector
                      input.n-form__selector-input(type="checkbox", id="nFilterType05", name="nFilterYear", value="")
                      label.n-form__selector-label(for="nFilterType05")
                        div.n-form__selector-text 4+

                div.n-filter__col.n-filter__col--price
                  div.n-form__group.n-form__group--from-to.n-form__group--price
                    div.n-form__wrapper
                      input.n-form__control(type="text", id="nFilterPrice01")
                      label.n-form__label.n-form__label--placeholder(for="nFilterPrice01") Цена от
                      label.n-form__label(for="nFilterPrice01") от
                      button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                        != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})
                    div.n-form__wrapper
                      input.n-form__control(type="text", id="nFilterPrice02")
                      label.n-form__label(for="nFilterPrice02") до
                      label.n-form__label.n-form__label--after(for="nFilterPrice02") ₽
                      button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                        != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})


                div.n-filter__col.n-filter__col--toggle
                  button.n-filter__btn.n-filter__btn--toggle-header.n-btn(title="Еще") Еще
                    span.n-btn__badge 16
                    != pugHelpers.Icon.call(locals, {iconName: 'n-arrow-left', className: 'n-btn__icon n-btn__icon--chevron n-icon n-icon--arrow'})


                div.n-filter__col.n-filter__col--switch
                  div.n-form__switch
                    input.n-form__switch-input(id="nCardListView" type="checkbox")
                    label.n-form__switch-label(for="nCardListView")
                      != pugHelpers.Icon.call(locals, {iconName: 'n-plate', className: 'n-form__switch-icon n-icon n-icon--plate'})
                      != pugHelpers.Icon.call(locals, {iconName: 'n-local', className: 'n-form__switch-icon n-icon n-icon--local'})

          div.n-filter__body
            div.n-filter__container.container-fluid

              div.n-filter__legend.n-filter__legend--type
                label.n-filter__legend-title(for="nFilterYear") Комнат
                div.n-filter__legend-body
                  div.n-filter__row.n-filter__row--around
                    div.n-filter__col.n-filter__col--single
                      div.n-form__group.n-form__group--selector
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterType01", name="nFilterYear", value="")
                          label.n-form__selector-label(for="nFilterType01")
                            div.n-form__selector-text Студия
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterType02", name="nFilterYear", value="")
                          label.n-form__selector-label(for="nFilterType02")
                            div.n-form__selector-text 1
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterType03", name="nFilterYear", value="")
                          label.n-form__selector-label(for="nFilterType03")
                            div.n-form__selector-text 2
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterType04", name="nFilterYear", value="")
                          label.n-form__selector-label(for="nFilterType04")
                            div.n-form__selector-text 3
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterType05", name="nFilterYear", value="")
                          label.n-form__selector-label(for="nFilterType05")
                            div.n-form__selector-text 4+

              div.n-filter__legend
                label.n-filter__legend-title(for="nFilterYear") Год сдачи
                div.n-filter__legend-body
                  div.n-filter__row.n-filter__row--around
                    div.n-filter__col.n-filter__col--single
                      div.n-form__group.n-form__group--selector
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterYear01", name="nFilterYear", value="")
                          label.n-form__selector-label(for="nFilterYear01")
                            div.n-form__selector-text Дом сдан
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterYear02", name="nFilterYear", value="")
                          label.n-form__selector-label(for="nFilterYear02")
                            div.n-form__selector-text 2018
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterYear03", name="nFilterYear", value="")
                          label.n-form__selector-label(for="nFilterYear03")
                            div.n-form__selector-text 2019
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterYear04", name="nFilterYear", value="")
                          label.n-form__selector-label(for="nFilterYear04")
                            div.n-form__selector-text 2020+
              div.n-filter__legend
                label.n-filter__legend-title(for="nFilterSquare") Общая площадь
                div.n-filter__legend-body
                  div.n-filter__row.n-filter__row--around
                    div.n-filter__col.n-filter__col--single
                      div.n-form__group.n-form__group--from-to.n-form__group--square
                        div.n-form__wrapper
                          input.n-form__control.n-form__control--no-empty(type="text", id="nFilterSquare01", value="65")
                          label.n-form__label(for="nFilterSquare01") от
                          button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                            != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})
                        div.n-form__wrapper
                          input.n-form__control.n-form__control--no-empty(type="text", id="nFilterSquare02", value="80")
                          label.n-form__label(for="nFilterSquare02") до
                          label.n-form__label.n-form__label--after(for="nFilterSquare02") м
                            sup 2
                          button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                            != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})

              div.n-filter__legend
                label.n-filter__legend-title(for="nFilterFloor") Этаж
                div.n-filter__legend-body
                  div.n-filter__row.n-filter__row--around
                    div.n-filter__col.n-filter__col--single
                      div.n-form__group.n-form__group--from-to.n-form__group--floor
                        div.n-form__wrapper
                          input.n-form__control.n-form__control--no-empty(type="text", id="nFilterFloor01", value="9")
                          label.n-form__label(for="nFilterFloor01") c
                          button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                            != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})
                        div.n-form__wrapper
                          input.n-form__control.n-form__control--no-empty(type="text", id="nFilterFloor02", value="13")
                          label.n-form__label(for="nFilterFloor02") по
                          button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                            != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})

              div.n-filter__legend
                label.n-filter__legend-title(for="nFilterClassObject01") Класс объекта
                div.n-filter__legend-body
                  div.n-filter__row.n-filter__row--around
                    div.n-filter__col
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterClassObject01", checked="checked", name="nFilterClassObject", value="")
                        label.n-form__selector-label(for="nFilterClassObject01")
                          div.n-form__selector-text эконом
                    div.n-filter__col
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterClassObject02", checked="checked", name="nFilterClassObject", value="")
                        label.n-form__selector-label(for="nFilterClassObject02")
                          div.n-form__selector-text комфорт
                    div.n-filter__col
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterClassObject03", name="nFilterClassObject", value="")
                        label.n-form__selector-label(for="nFilterClassObject03")
                          div.n-form__selector-text бизнес
                    div.n-filter__col
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterClassObject04", name="nFilterClassObject", value="")
                        label.n-form__selector-label(for="nFilterClassObject04")
                          div.n-form__selector-text элит

              div.n-filter__legend
                label.n-filter__legend-title(for="nFilterTypeApartments01") Тип квартир
                div.n-filter__legend-body
                  div.n-filter__row.n-filter__row--around
                    div.n-filter__col.n-filter__col--single
                      div.n-form__group.n-form__group--selector
                        div.n-form__selector
                          input.n-form__selector-input(type="radio", id="nFilterTypeApartments01", name="nFilterTypeApartments", value="")
                          label.n-form__selector-label(for="nFilterTypeApartments01")
                            div.n-form__selector-text не важно
                        div.n-form__selector
                          input.n-form__selector-input(type="radio", id="nFilterTypeApartments02", name="nFilterTypeApartments", value="")
                          label.n-form__selector-label(for="nFilterTypeApartments02")
                            div.n-form__selector-text апартаменты
                        div.n-form__selector
                          input.n-form__selector-input(type="radio", id="nFilterTypeApartments03", checked="checked", name="nFilterTypeApartments", value="")
                          label.n-form__selector-label(for="nFilterTypeApartments03")
                            div.n-form__selector-text квартиры

              div.n-filter__legend
                label.n-filter__legend-title(for="nFilterBuilType01") Тип дома
                div.n-filter__legend-body
                  div.n-filter__row.n-filter__row--around
                    div.n-filter__col
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterBuilType01", name="nFilterBuilType", checked="checked", value="")
                        label.n-form__selector-label(for="nFilterBuilType01")
                          div.n-form__selector-text монолит
                    div.n-filter__col
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterBuilType02", name="nFilterBuilType", checked="checked", value="")
                        label.n-form__selector-label(for="nFilterBuilType02")
                          div.n-form__selector-text монолит-кирпич
                    div.n-filter__col
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterBuilType03", name="nFilterBuilType", value="")
                        label.n-form__selector-label(for="nFilterBuilType03")
                          div.n-form__selector-text кирпич
                    div.n-filter__col
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterBuilType04", name="nFilterBuilType", value="")
                        label.n-form__selector-label(for="nFilterBuilType04 ")
                          div.n-form__selector-text панель

              div.n-filter__legend
                label.n-filter__legend-title(for="nFilterPark01") Парковка
                div.n-filter__legend-body
                  div.n-filter__row.n-filter__row--around
                    div.n-filter__col
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterPark01", checked="checked", name="nFilterPark", value="")
                        label.n-form__selector-label(for="nFilterPark01")
                          div.n-form__selector-text надземная
                    div.n-filter__col
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterPark02", checked="checked", name="nFilterPark", value="")
                        label.n-form__selector-label(for="nFilterPark02")
                          div.n-form__selector-text подземная

              div.n-filter__legend
                label.n-filter__legend-title(for="nFilterWallDecoration01") Отделка
                div.n-filter__legend-body
                  div.n-filter__row.n-filter__row--around
                    div.n-filter__col.n-filter__col--single
                      div.n-form__group.n-form__group--selector
                        div.n-form__selector
                          input.n-form__selector-input(type="radio", id="nFilterWallDecoration01", name="nFilterWallDecoration", value="")
                          label.n-form__selector-label(for="nFilterWallDecoration01")
                            div.n-form__selector-text не важно
                        div.n-form__selector
                          input.n-form__selector-input(type="radio", id="nFilterWallDecoration02", checked="checked", name="nFilterWallDecoration", value="")
                          label.n-form__selector-label(for="nFilterWallDecoration02")
                            div.n-form__selector-text с отделкой
                        div.n-form__selector
                          input.n-form__selector-input(type="radio", id="nFilterWallDecoration03", name="nFilterWallDecoration", value="")
                          label.n-form__selector-label(for="nFilterWallDecoration03")
                            div.n-form__selector-text без отделки

              div.n-filter__legend
                label.n-filter__legend-title(for="nFilterDev") Застройщик
                div.n-filter__legend-body
                  div.n-filter__row.n-filter__row--around
                    div.n-filter__col.n-filter__col--single
                      div.n-form__group
                        input.n-form__control(id="nFilterDev", type="text", placeholder="пример: РГ-Девелопмент")

              div.n-filter__legend
                label.n-filter__legend-title(for="nFilterDifferent01") Разное
                div.n-filter__legend-body
                  div.n-filter__row.n-filter__row--around
                    div.n-filter__col
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterDifferent01", name="nFilterDifferent", value="")
                        label.n-form__selector-label(for="nFilterDifferent01")
                          div.n-form__selector-text рассрочка

                    div.n-filter__col
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterDifferent02", name="nFilterDifferent", value="")
                        label.n-form__selector-label(for="nFilterDifferent02")
                          div.n-form__selector-text военная ипотека

                    div.n-filter__col
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterDifferent03", name="nFilterDifferent", value="")
                        label.n-form__selector-label(for="nFilterDifferent03")
                          div.n-form__selector-text огороженная территория

                    div.n-filter__col
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterDifferent04", name="nFilterDifferent", value="")
                        label.n-form__selector-label(for="nFilterDifferent04")
                          div.n-form__selector-text малоэтажный ЖК

                    div.n-filter__col
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterDifferent05", name="nFilterDifferent", value="")
                        label.n-form__selector-label(for="nFilterDifferent05")
                          div.n-form__selector-text кладовые

                    div.n-filter__col
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterDifferent06", name="nFilterDifferent", value="")
                        label.n-form__selector-label(for="nFilterDifferent06")
                          div.n-form__selector-text лофт
                        
            div.n-filter__footer
              div.n-filter__container.container-fluid
                div.n-filter__row.n-filter__row--around.n-filter__row--footer
                  div.n-filter__col
                    button.n-filter__btn.n-filter__btn--reset.n-btn.n-btn--block.n-btn--outline-secondary(title="Очистить") 
                      div.n-btn__text Очистить
                  div.n-filter__col
                    button.n-filter__btn.n-filter__btn--show-all.n-btn.n-btn--block.n-btn--accent(title="Показать все новостройки") 
                      div.n-btn__text Показать все новостройки

    div.n-filter.n-filter--header(style="margin-bottom: 350px")
        div.n-filter__toggle
          div.n-filter__container.container-fluid
            button.n-filter__btn.n-filter__btn--toggle.n-btn.n-btn--block.n-btn--accent(title="Параметры поиска")
              span.n-btn__text Параметры поиска
              span.n-btn__badge 16
        div.n-filter__dropdown.n-form
          div.n-filter__content
            div.n-filter__header
              div.n-filter__container.container-fluid
                div.n-filter__row.n-filter__row--around.n-filter__row--header
                  div.n-filter__col.n-filter__col--search
                    div.n-form__search
                      div.n-form__wrapper
                        input.n-form__control(type="text", placeholder="Локация или ЖК")
                        div.n-form__nav
                          nav.n-nav.n-nav--search(aria-label="Навигация по поиску")
                            ul.n-nav__list
                              li.n-nav__item
                                a.n-nav__link(href="#", title="Метро")
                                  span.n-nav__badge 8
                                  span.n-nav__text Метро
                              li.n-nav__item
                                a.n-nav__link(href="#", title="Район")
                                  span.n-nav__text Район
                              li.n-nav__item
                                a.n-nav__link(href="#", title="Шоссе")
                                  span.n-nav__text Шоссе
                      div.n-form__dropdown.n-form__dropdown--select.is-open(style="display: block")
                        div.n-form__list.n-form__list--select
                          div.n-form__lsit-group
                            div.n-form__list-title Новостройки
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Архимед 2") Архимед 2
                              span.n-form__list-text Подмосковье, Сергиево-Посадский район, г. Сергиев-Посад
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Нахимовский 21") Нахимовский 21
                              span.n-form__list-text Москва, ЮЗАО, Зюзино р-н
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Химки 2019") Химки 2019
                              span.n-form__list-text Подмосковье, г.Химки
                          div.n-form__lsit-group
                            div.n-form__list-title Локации
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                              span.n-form__list-text 34 новостройки
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                              span.n-form__list-text 34 новостройки
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                              span.n-form__list-text 34 новостройки
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                              span.n-form__list-text 34 новостройки
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                              span.n-form__list-text 34 новостройки
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                              span.n-form__list-text 34 новостройки
                          div.n-form__lsit-group
                            div.n-form__list-title Новостройки
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Архимед 2") Архимед 2
                              span.n-form__list-text Подмосковье, Сергиево-Посадский район, г. Сергиев-Посад
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Нахимовский 21") Нахимовский 21
                              span.n-form__list-text Москва, ЮЗАО, Зюзино р-н
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Химки 2019") Химки 2019
                              span.n-form__list-text Подмосковье, г.Химки
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Архимед 2") Архимед 2
                              span.n-form__list-text Подмосковье, Сергиево-Посадский район, г. Сергиев-Посад
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Нахимовский 21") Нахимовский 21
                              span.n-form__list-text Москва, ЮЗАО, Зюзино р-н
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Химки 2019") Химки 2019
                              span.n-form__list-text Подмосковье, г.Химки

                      div.n-form__dropdown.n-form__dropdown--selected(style="display: none")
                        div.n-form__dropdown-header
                          div.n-from__dropdown-title Вы выбрали
                          div.n-form__dropdown-action
                            button.n-form__dropdown-btn.n-form__dropdown-btn--clean.n-btn.n-btn--sm.n-btn--link(aria-label="Очистить фильтр")
                              != pugHelpers.Icon.call(locals, {iconName: 'n-trash', className: 'n-btn__icon n-icon n-icon--trash'})
                              span.n-btn__text Очистить все
                        div.n-form__dropdown-body
                          div.n-tags.n-tags--selected
                            div.n-tags__content.is-open
                              ul.n-tags__list
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Можайское 28")
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-highway', className: 'n-tags__icon n-icon'})
                                    span.n-tags__text Можайское 28
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-local', className: 'n-tags__icon n-icon'})
                                    span.n-tags__text Красногорск
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                      div.n-tags__icon-item(style="color: #5098F8")
                                      div.n-tags__icon-item(style="color: #266BC8")
                                      div.n-tags__icon-item(style="color: #9EB3CE")
                                    span.n-tags__text Библиотека им.Ленина
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                    span.n-tags__text Бульвар Рокоссовского
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                    span.n-tags__text Воробьевы горы
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                      div.n-tags__icon-item(style="color: #838383")
                                    span.n-tags__text Комсомольская
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                    span.n-tags__text Бульвар Рокоссовского
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                    span.n-tags__text Бульвар Рокоссовского
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                    span.n-tags__text Бульвар Рокоссовского
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                    span.n-tags__text Бульвар Рокоссовского
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                    span.n-tags__text Бульвар Рокоссовского
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})

                  div.n-filter__col.n-filter__col--type
                    div.n-form__group.n-form__group--selector
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterType01", name="nFilterYear", value="")
                        label.n-form__selector-label(for="nFilterType01")
                          div.n-form__selector-text Студия
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterType02", name="nFilterYear", value="")
                        label.n-form__selector-label(for="nFilterType02")
                          div.n-form__selector-text 1
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterType03", name="nFilterYear", value="")
                        label.n-form__selector-label(for="nFilterType03")
                          div.n-form__selector-text 2
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterType04", name="nFilterYear", value="")
                        label.n-form__selector-label(for="nFilterType04")
                          div.n-form__selector-text 3
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterType05", name="nFilterYear", value="")
                        label.n-form__selector-label(for="nFilterType05")
                          div.n-form__selector-text 4+

                  div.n-filter__col.n-filter__col--price
                    div.n-form__group.n-form__group--from-to.n-form__group--price
                      div.n-form__wrapper
                        input.n-form__control(type="text", id="nFilterPrice01")
                        label.n-form__label.n-form__label--placeholder(for="nFilterPrice01") Цена от
                        label.n-form__label(for="nFilterPrice01") от
                        button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                          != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})
                      div.n-form__wrapper
                        input.n-form__control(type="text", id="nFilterPrice02")
                        label.n-form__label(for="nFilterPrice02") до
                        label.n-form__label.n-form__label--after(for="nFilterPrice02") ₽
                        button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                          != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})


                  div.n-filter__col.n-filter__col--toggle
                    button.n-filter__btn.n-filter__btn--toggle-header.n-btn(title="Еще") Еще
                      span.n-btn__badge 16
                      != pugHelpers.Icon.call(locals, {iconName: 'n-arrow-left', className: 'n-btn__icon n-btn__icon--chevron n-icon n-icon--arrow'})

  
                  div.n-filter__col.n-filter__col--switch
                    div.n-form__switch
                      input.n-form__switch-input(id="nCardListView" type="checkbox")
                      label.n-form__switch-label(for="nCardListView")
                        != pugHelpers.Icon.call(locals, {iconName: 'n-plate', className: 'n-form__switch-icon n-icon n-icon--plate'})
                        != pugHelpers.Icon.call(locals, {iconName: 'n-local', className: 'n-form__switch-icon n-icon n-icon--local'})



            div.n-filter__body
              div.n-filter__container.container-fluid

                div.n-filter__legend.n-filter__legend--type
                  label.n-filter__legend-title(for="nFilterYear") Комнат
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col.n-filter__col--single
                        div.n-form__group.n-form__group--selector
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterType01", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterType01")
                              div.n-form__selector-text Студия
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterType02", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterType02")
                              div.n-form__selector-text 1
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterType03", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterType03")
                              div.n-form__selector-text 2
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterType04", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterType04")
                              div.n-form__selector-text 3
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterType05", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterType05")
                              div.n-form__selector-text 4+


                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterYear") Год сдачи
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col.n-filter__col--single
                        div.n-form__group.n-form__group--selector
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterYear01", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterYear01")
                              div.n-form__selector-text Дом сдан
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterYear02", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterYear02")
                              div.n-form__selector-text 2018
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterYear03", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterYear03")
                              div.n-form__selector-text 2019
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterYear04", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterYear04")
                              div.n-form__selector-text 2020+
                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterSquare") Общая площадь
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col.n-filter__col--single
                        div.n-form__group.n-form__group--from-to.n-form__group--square
                          div.n-form__wrapper
                            input.n-form__control.n-form__control--no-empty(type="text", id="nFilterSquare01", value="65")
                            label.n-form__label(for="nFilterSquare01") от
                            button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                              != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})
                          div.n-form__wrapper
                            input.n-form__control.n-form__control--no-empty(type="text", id="nFilterSquare02", value="80")
                            label.n-form__label(for="nFilterSquare02") до
                            label.n-form__label.n-form__label--after(for="nFilterSquare02") м
                              sup 2
                            button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                              != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterFloor") Этаж
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col.n-filter__col--single
                        div.n-form__group.n-form__group--from-to.n-form__group--floor
                          div.n-form__wrapper
                            input.n-form__control.n-form__control--no-empty(type="text", id="nFilterFloor01", value="9")
                            label.n-form__label(for="nFilterFloor01") c
                            button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                              != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})
                          div.n-form__wrapper
                            input.n-form__control.n-form__control--no-empty(type="text", id="nFilterFloor02", value="13")
                            label.n-form__label(for="nFilterFloor02") по
                            button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                              != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterClassObject01") Класс объекта
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterClassObject01", checked="checked", name="nFilterClassObject", value="")
                          label.n-form__selector-label(for="nFilterClassObject01")
                            div.n-form__selector-text эконом
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterClassObject02", checked="checked", name="nFilterClassObject", value="")
                          label.n-form__selector-label(for="nFilterClassObject02")
                            div.n-form__selector-text комфорт
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterClassObject03", name="nFilterClassObject", value="")
                          label.n-form__selector-label(for="nFilterClassObject03")
                            div.n-form__selector-text бизнес
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterClassObject04", name="nFilterClassObject", value="")
                          label.n-form__selector-label(for="nFilterClassObject04")
                            div.n-form__selector-text элит

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterTypeApartments01") Тип квартир
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col.n-filter__col--single
                        div.n-form__group.n-form__group--selector
                          div.n-form__selector
                            input.n-form__selector-input(type="radio", id="nFilterTypeApartments01", name="nFilterTypeApartments", value="")
                            label.n-form__selector-label(for="nFilterTypeApartments01")
                              div.n-form__selector-text не важно
                          div.n-form__selector
                            input.n-form__selector-input(type="radio", id="nFilterTypeApartments02", name="nFilterTypeApartments", value="")
                            label.n-form__selector-label(for="nFilterTypeApartments02")
                              div.n-form__selector-text апартаменты
                          div.n-form__selector
                            input.n-form__selector-input(type="radio", id="nFilterTypeApartments03", checked="checked", name="nFilterTypeApartments", value="")
                            label.n-form__selector-label(for="nFilterTypeApartments03")
                              div.n-form__selector-text квартиры

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterBuilType01") Тип дома
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterBuilType01", name="nFilterBuilType", checked="checked", value="")
                          label.n-form__selector-label(for="nFilterBuilType01")
                            div.n-form__selector-text монолит
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterBuilType02", name="nFilterBuilType", checked="checked", value="")
                          label.n-form__selector-label(for="nFilterBuilType02")
                            div.n-form__selector-text монолит-кирпич
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterBuilType03", name="nFilterBuilType", value="")
                          label.n-form__selector-label(for="nFilterBuilType03")
                            div.n-form__selector-text кирпич
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterBuilType04", name="nFilterBuilType", value="")
                          label.n-form__selector-label(for="nFilterBuilType04 ")
                            div.n-form__selector-text панель

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterPark01") Парковка
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterPark01", checked="checked", name="nFilterPark", value="")
                          label.n-form__selector-label(for="nFilterPark01")
                            div.n-form__selector-text надземная
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterPark02", checked="checked", name="nFilterPark", value="")
                          label.n-form__selector-label(for="nFilterPark02")
                            div.n-form__selector-text подземная

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterWallDecoration01") Отделка
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col.n-filter__col--single
                        div.n-form__group.n-form__group--selector
                          div.n-form__selector
                            input.n-form__selector-input(type="radio", id="nFilterWallDecoration01", name="nFilterWallDecoration", value="")
                            label.n-form__selector-label(for="nFilterWallDecoration01")
                              div.n-form__selector-text не важно
                          div.n-form__selector
                            input.n-form__selector-input(type="radio", id="nFilterWallDecoration02", checked="checked", name="nFilterWallDecoration", value="")
                            label.n-form__selector-label(for="nFilterWallDecoration02")
                              div.n-form__selector-text с отделкой
                          div.n-form__selector
                            input.n-form__selector-input(type="radio", id="nFilterWallDecoration03", name="nFilterWallDecoration", value="")
                            label.n-form__selector-label(for="nFilterWallDecoration03")
                              div.n-form__selector-text без отделки

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterDev") Застройщик
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col.n-filter__col--single
                        div.n-form__group
                          input.n-form__control(id="nFilterDev", type="text", placeholder="пример: РГ-Девелопмент")

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterDifferent01") Разное
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterDifferent01", name="nFilterDifferent", value="")
                          label.n-form__selector-label(for="nFilterDifferent01")
                            div.n-form__selector-text рассрочка

                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterDifferent02", name="nFilterDifferent", value="")
                          label.n-form__selector-label(for="nFilterDifferent02")
                            div.n-form__selector-text военная ипотека

                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterDifferent03", name="nFilterDifferent", value="")
                          label.n-form__selector-label(for="nFilterDifferent03")
                            div.n-form__selector-text огороженная территория

                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterDifferent04", name="nFilterDifferent", value="")
                          label.n-form__selector-label(for="nFilterDifferent04")
                            div.n-form__selector-text малоэтажный ЖК

                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterDifferent05", name="nFilterDifferent", value="")
                          label.n-form__selector-label(for="nFilterDifferent05")
                            div.n-form__selector-text кладовые

                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterDifferent06", name="nFilterDifferent", value="")
                          label.n-form__selector-label(for="nFilterDifferent06")
                            div.n-form__selector-text лофт
                          
              div.n-filter__footer
                div.n-filter__container.container-fluid
                  div.n-filter__row.n-filter__row--around.n-filter__row--footer
                    div.n-filter__col
                      button.n-filter__btn.n-filter__btn--reset.n-btn.n-btn--block.n-btn--outline-secondary(title="Очистить") 
                        div.n-btn__text Очистить
                    div.n-filter__col
                      button.n-filter__btn.n-filter__btn--show-all.n-btn.n-btn--block.n-btn--accent(title="Показать все новостройки") 
                        div.n-btn__text Показать все новостройки

    div.n-filter.n-filter--header(style="margin-bottom: 350px")
        div.n-filter__toggle
          div.n-filter__container.container-fluid
            button.n-filter__btn.n-filter__btn--toggle.n-btn.n-btn--block.n-btn--accent(title="Параметры поиска")
              span.n-btn__text Параметры поиска
              span.n-btn__badge 16
        div.n-filter__dropdown.n-form
          div.n-filter__content
            div.n-filter__header
              div.n-filter__container.container-fluid
                div.n-filter__row.n-filter__row--around.n-filter__row--header
                  div.n-filter__col.n-filter__col--search
                    div.n-form__search
                      div.n-form__wrapper
                        input.n-form__control(type="text", placeholder="Локация или ЖК")
                        div.n-form__nav
                          nav.n-nav.n-nav--search(aria-label="Навигация по поиску")
                            ul.n-nav__list
                              li.n-nav__item
                                a.n-nav__link(href="#", title="Метро")
                                  span.n-nav__badge 8
                                  span.n-nav__text Метро
                              li.n-nav__item
                                a.n-nav__link(href="#", title="Район")
                                  span.n-nav__text Район
                              li.n-nav__item
                                a.n-nav__link(href="#", title="Шоссе")
                                  span.n-nav__text Шоссе
                      div.n-form__dropdown.n-form__dropdown--select(style="display: none")
                        div.n-form__list.n-form__list--select
                          div.n-form__lsit-group
                            div.n-form__list-title Новостройки
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Архимед 2") Архимед 2
                              span.n-form__list-text Подмосковье, Сергиево-Посадский район, г. Сергиев-Посад
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Нахимовский 21") Нахимовский 21
                              span.n-form__list-text Москва, ЮЗАО, Зюзино р-н
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Химки 2019") Химки 2019
                              span.n-form__list-text Подмосковье, г.Химки
                          div.n-form__lsit-group
                            div.n-form__list-title Локации
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                              span.n-form__list-text 34 новостройки
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                              span.n-form__list-text 34 новостройки
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                              span.n-form__list-text 34 новостройки
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                              span.n-form__list-text 34 новостройки
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                              span.n-form__list-text 34 новостройки
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--title(href="#", title="г. Химки") г. Химки
                              span.n-form__list-text 34 новостройки
                          div.n-form__lsit-group
                            div.n-form__list-title Новостройки
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Архимед 2") Архимед 2
                              span.n-form__list-text Подмосковье, Сергиево-Посадский район, г. Сергиев-Посад
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Нахимовский 21") Нахимовский 21
                              span.n-form__list-text Москва, ЮЗАО, Зюзино р-н
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Химки 2019") Химки 2019
                              span.n-form__list-text Подмосковье, г.Химки
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Архимед 2") Архимед 2
                              span.n-form__list-text Подмосковье, Сергиево-Посадский район, г. Сергиев-Посад
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Нахимовский 21") Нахимовский 21
                              span.n-form__list-text Москва, ЮЗАО, Зюзино р-н
                            div.n-form__list-item
                              a.n-form__list-link.n-form__list-link--block.n-form__list-link--title(href="#", title="Химки 2019") Химки 2019
                              span.n-form__list-text Подмосковье, г.Химки

                      div.n-form__dropdown.n-form__dropdown--selected.is-open(style="display: block")
                        div.n-form__dropdown-header
                          div.n-from__dropdown-title Вы выбрали
                          div.n-form__dropdown-action
                            button.n-form__dropdown-btn.n-form__dropdown-btn--clean.n-btn.n-btn--sm.n-btn--link(aria-label="Очистить фильтр")
                              != pugHelpers.Icon.call(locals, {iconName: 'n-trash', className: 'n-btn__icon n-icon n-icon--trash'})
                              span.n-btn__text Очистить все
                        div.n-form__dropdown-body
                          div.n-tags.n-tags--selected
                            div.n-tags__content.is-open
                              ul.n-tags__list
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Можайское 28")
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-highway', className: 'n-tags__icon n-icon'})
                                    span.n-tags__text Можайское 28
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-local', className: 'n-tags__icon n-icon'})
                                    span.n-tags__text Красногорск
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                      div.n-tags__icon-item(style="color: #5098F8")
                                      div.n-tags__icon-item(style="color: #266BC8")
                                      div.n-tags__icon-item(style="color: #9EB3CE")
                                    span.n-tags__text Библиотека им.Ленина
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                    span.n-tags__text Бульвар Рокоссовского
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                    span.n-tags__text Воробьевы горы
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                      div.n-tags__icon-item(style="color: #838383")
                                    span.n-tags__text Комсомольская
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                    span.n-tags__text Бульвар Рокоссовского
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                    span.n-tags__text Бульвар Рокоссовского
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                    span.n-tags__text Бульвар Рокоссовского
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                    span.n-tags__text Бульвар Рокоссовского
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})
                                li.n-tags__item
                                  a.n-tags__link(href="#", title="Красногорск")
                                    div.n-tags__icon.n-tags__icon--undegraund
                                      div.n-tags__icon-item(style="color: #DE1B1B")
                                    span.n-tags__text Бульвар Рокоссовского
                                    != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-tags__icon n-tags__icon--close n-icon n-icon--close'})


                  div.n-filter__col.n-filter__col--type
                    div.n-form__group.n-form__group--selector
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterType01", name="nFilterYear", value="")
                        label.n-form__selector-label(for="nFilterType01")
                          div.n-form__selector-text Студия
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterType02", name="nFilterYear", value="")
                        label.n-form__selector-label(for="nFilterType02")
                          div.n-form__selector-text 1
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterType03", name="nFilterYear", value="")
                        label.n-form__selector-label(for="nFilterType03")
                          div.n-form__selector-text 2
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterType04", name="nFilterYear", value="")
                        label.n-form__selector-label(for="nFilterType04")
                          div.n-form__selector-text 3
                      div.n-form__selector
                        input.n-form__selector-input(type="checkbox", id="nFilterType05", name="nFilterYear", value="")
                        label.n-form__selector-label(for="nFilterType05")
                          div.n-form__selector-text 4+

                  div.n-filter__col.n-filter__col--price
                    div.n-form__group.n-form__group--from-to.n-form__group--price
                      div.n-form__wrapper
                        input.n-form__control(type="text", id="nFilterPrice01")
                        label.n-form__label.n-form__label--placeholder(for="nFilterPrice01") Цена от
                        label.n-form__label(for="nFilterPrice01") от
                        button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                          != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})
                      div.n-form__wrapper
                        input.n-form__control(type="text", id="nFilterPrice02")
                        label.n-form__label(for="nFilterPrice02") до
                        label.n-form__label.n-form__label--after(for="nFilterPrice02") ₽
                        button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                          != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})


                  div.n-filter__col.n-filter__col--toggle
                    button.n-filter__btn.n-filter__btn--toggle-header.n-btn(title="Еще") Еще
                      span.n-btn__badge 16
                      != pugHelpers.Icon.call(locals, {iconName: 'n-arrow-left', className: 'n-btn__icon n-btn__icon--chevron n-icon n-icon--arrow'})

  
                  div.n-filter__col.n-filter__col--switch
                    div.n-form__switch
                      input.n-form__switch-input(id="nCardListView" type="checkbox")
                      label.n-form__switch-label(for="nCardListView")
                        != pugHelpers.Icon.call(locals, {iconName: 'n-plate', className: 'n-form__switch-icon n-icon n-icon--plate'})
                        != pugHelpers.Icon.call(locals, {iconName: 'n-local', className: 'n-form__switch-icon n-icon n-icon--local'})



            div.n-filter__body
              div.n-filter__container.container-fluid

                div.n-filter__legend.n-filter__legend--type
                  label.n-filter__legend-title(for="nFilterYear") Комнат
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col.n-filter__col--single
                        div.n-form__group.n-form__group--selector
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterType01", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterType01")
                              div.n-form__selector-text Студия
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterType02", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterType02")
                              div.n-form__selector-text 1
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterType03", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterType03")
                              div.n-form__selector-text 2
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterType04", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterType04")
                              div.n-form__selector-text 3
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterType05", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterType05")
                              div.n-form__selector-text 4+

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterYear") Год сдачи
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col.n-filter__col--single
                        div.n-form__group.n-form__group--selector
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterYear01", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterYear01")
                              div.n-form__selector-text Дом сдан
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterYear02", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterYear02")
                              div.n-form__selector-text 2018
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterYear03", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterYear03")
                              div.n-form__selector-text 2019
                          div.n-form__selector
                            input.n-form__selector-input(type="checkbox", id="nFilterYear04", name="nFilterYear", value="")
                            label.n-form__selector-label(for="nFilterYear04")
                              div.n-form__selector-text 2020+
                
                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterSquare") Общая площадь
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col.n-filter__col--single
                        div.n-form__group.n-form__group--from-to.n-form__group--square
                          div.n-form__wrapper
                            input.n-form__control.n-form__control--no-empty(type="text", id="nFilterSquare01", value="65")
                            label.n-form__label(for="nFilterSquare01") от
                            button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                              != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})
                          div.n-form__wrapper
                            input.n-form__control.n-form__control--no-empty(type="text", id="nFilterSquare02", value="80")
                            label.n-form__label(for="nFilterSquare02") до
                            label.n-form__label.n-form__label--after(for="nFilterSquare02") м
                              sup 2
                            button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                              != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterFloor") Этаж
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col.n-filter__col--single
                        div.n-form__group.n-form__group--from-to.n-form__group--floor
                          div.n-form__wrapper
                            input.n-form__control.n-form__control--no-empty(type="text", id="nFilterFloor01", value="9")
                            label.n-form__label(for="nFilterFloor01") c
                            button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                              != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})
                          div.n-form__wrapper
                            input.n-form__control.n-form__control--no-empty(type="text", id="nFilterFloor02", value="13")
                            label.n-form__label(for="nFilterFloor02") по
                            button.n-form__btn.n-form__btn--clean.btn(role="clean", title="Очистить")
                              != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-btn__icon n-icon n-icon--close'})

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterClassObject01") Класс объекта
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterClassObject01", checked="checked", name="nFilterClassObject", value="")
                          label.n-form__selector-label(for="nFilterClassObject01")
                            div.n-form__selector-text эконом
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterClassObject02", checked="checked", name="nFilterClassObject", value="")
                          label.n-form__selector-label(for="nFilterClassObject02")
                            div.n-form__selector-text комфорт
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterClassObject03", name="nFilterClassObject", value="")
                          label.n-form__selector-label(for="nFilterClassObject03")
                            div.n-form__selector-text бизнес
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterClassObject04", name="nFilterClassObject", value="")
                          label.n-form__selector-label(for="nFilterClassObject04")
                            div.n-form__selector-text элит

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterTypeApartments01") Тип квартир
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col.n-filter__col--single
                        div.n-form__group.n-form__group--selector
                          div.n-form__selector
                            input.n-form__selector-input(type="radio", id="nFilterTypeApartments01", name="nFilterTypeApartments", value="")
                            label.n-form__selector-label(for="nFilterTypeApartments01")
                              div.n-form__selector-text не важно
                          div.n-form__selector
                            input.n-form__selector-input(type="radio", id="nFilterTypeApartments02", name="nFilterTypeApartments", value="")
                            label.n-form__selector-label(for="nFilterTypeApartments02")
                              div.n-form__selector-text апартаменты
                          div.n-form__selector
                            input.n-form__selector-input(type="radio", id="nFilterTypeApartments03", checked="checked", name="nFilterTypeApartments", value="")
                            label.n-form__selector-label(for="nFilterTypeApartments03")
                              div.n-form__selector-text квартиры

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterBuilType01") Тип дома
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterBuilType01", name="nFilterBuilType", checked="checked", value="")
                          label.n-form__selector-label(for="nFilterBuilType01")
                            div.n-form__selector-text монолит
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterBuilType02", name="nFilterBuilType", checked="checked", value="")
                          label.n-form__selector-label(for="nFilterBuilType02")
                            div.n-form__selector-text монолит-кирпич
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterBuilType03", name="nFilterBuilType", value="")
                          label.n-form__selector-label(for="nFilterBuilType03")
                            div.n-form__selector-text кирпич
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterBuilType04", name="nFilterBuilType", value="")
                          label.n-form__selector-label(for="nFilterBuilType04 ")
                            div.n-form__selector-text панель

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterPark01") Парковка
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterPark01", checked="checked", name="nFilterPark", value="")
                          label.n-form__selector-label(for="nFilterPark01")
                            div.n-form__selector-text надземная
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterPark02", checked="checked", name="nFilterPark", value="")
                          label.n-form__selector-label(for="nFilterPark02")
                            div.n-form__selector-text подземная

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterWallDecoration01") Отделка
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col.n-filter__col--single
                        div.n-form__group.n-form__group--selector
                          div.n-form__selector
                            input.n-form__selector-input(type="radio", id="nFilterWallDecoration01", name="nFilterWallDecoration", value="")
                            label.n-form__selector-label(for="nFilterWallDecoration01")
                              div.n-form__selector-text не важно
                          div.n-form__selector
                            input.n-form__selector-input(type="radio", id="nFilterWallDecoration02", checked="checked", name="nFilterWallDecoration", value="")
                            label.n-form__selector-label(for="nFilterWallDecoration02")
                              div.n-form__selector-text с отделкой
                          div.n-form__selector
                            input.n-form__selector-input(type="radio", id="nFilterWallDecoration03", name="nFilterWallDecoration", value="")
                            label.n-form__selector-label(for="nFilterWallDecoration03")
                              div.n-form__selector-text без отделки

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterDev") Застройщик
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col.n-filter__col--single
                        div.n-form__group
                          input.n-form__control(id="nFilterDev", type="text", placeholder="пример: РГ-Девелопмент")

                div.n-filter__legend
                  label.n-filter__legend-title(for="nFilterDifferent01") Разное
                  div.n-filter__legend-body
                    div.n-filter__row.n-filter__row--around
                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterDifferent01", name="nFilterDifferent", value="")
                          label.n-form__selector-label(for="nFilterDifferent01")
                            div.n-form__selector-text рассрочка

                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterDifferent02", name="nFilterDifferent", value="")
                          label.n-form__selector-label(for="nFilterDifferent02")
                            div.n-form__selector-text военная ипотека

                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterDifferent03", name="nFilterDifferent", value="")
                          label.n-form__selector-label(for="nFilterDifferent03")
                            div.n-form__selector-text огороженная территория

                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterDifferent04", name="nFilterDifferent", value="")
                          label.n-form__selector-label(for="nFilterDifferent04")
                            div.n-form__selector-text малоэтажный ЖК

                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterDifferent05", name="nFilterDifferent", value="")
                          label.n-form__selector-label(for="nFilterDifferent05")
                            div.n-form__selector-text кладовые

                      div.n-filter__col
                        div.n-form__selector
                          input.n-form__selector-input(type="checkbox", id="nFilterDifferent06", name="nFilterDifferent", value="")
                          label.n-form__selector-label(for="nFilterDifferent06")
                            div.n-form__selector-text лофт
                          
              div.n-filter__footer
                div.n-filter__container.container-fluid
                  div.n-filter__row.n-filter__row--around.n-filter__row--footer
                    div.n-filter__col
                      button.n-filter__btn.n-filter__btn--reset.n-btn.n-btn--block.n-btn--outline-secondary(title="Очистить") 
                        div.n-btn__text Очистить
                    div.n-filter__col
                      button.n-filter__btn.n-filter__btn--show-all.n-btn.n-btn--block.n-btn--accent(title="Показать все новостройки") 
                        div.n-btn__text Показать все новостройки



    


    +foot()
