doctype html
html(class="no-js", lang="ru")

  include ../components/head/head.pug
  include ../components/foot/foot.pug
  include ../components/header/header.pug
  include ../components/footer/footer.pug
  include ../components/card/card.pug

  head
    +head(head.defaults)
  body.page.page--card-list.br.no-branding
    |%=symbols=%
    section.pn2-section-main.d-flex
      section.page__wrapper
        //- +header()
        div.page__content
          div.container-fluid.--extend-space
            div.page__row.row
              div.page__col.col-lg-6(style="display: block")

                main.page__main.--overhide(id="main")
                  nav.page__breadcrumb(aria-label="breadcrumb")
                    div.n-breadcrumb
                      ul.n-breadcrumb__list
                        li.n-breadcrumb__item
                          a.n-breadcrumb__link(href="#", title="Москва") Москва
                        li.n-breadcrumb__item
                          a.n-breadcrumb__link(href="#", title="СВАО") СВАО
                        li.n-breadcrumb__item
                          a.n-breadcrumb__link(href="#", title="р-н Хорошевский") р-н Хорошевский
                        li.n-breadcrumb__item.is-active
                          a.n-breadcrumb__link(href="#", title="54 новостройки") 54 новостройки

                  h1.page__title Новостройки Хорошевского района

                  div.page__tags
                    div.n-tags.n-tags--search
                      div.n-tags__content
                        ul.n-tags__list
                          li.n-tags__item
                            a.n-tags__link(href="#", title="идет строительство") идет строительство
                          li.n-tags__item
                            a.n-tags__link(href="#", title="бизнес-класс") бизнес-класс
                          li.n-tags__item
                            a.n-tags__link(href="#", title="сданные") сданные
                          li.n-tags__item
                            a.n-tags__link(href="#", title="за 8 млн ₽") за 8 млн ₽
                          li.n-tags__item
                            a.n-tags__link(href="#", title="элит класс") элит класс
                          li.n-tags__item
                            a.n-tags__link(href="#", title="за 3 млн ₽") за 3 млн ₽
                          li.n-tags__item
                            a.n-tags__link(href="#", title="за 8 млн ₽") за 8 млн ₽
                          li.n-tags__item
                            a.n-tags__link(href="#", title="элит класс") элит класс
                          li.n-tags__item
                            a.n-tags__link(href="#", title="за 3 млн ₽") за 3 млн ₽
                          li.n-tags__item
                            a.n-tags__link(href="#", title="идет строительство") идет строительство
                          li.n-tags__item
                            a.n-tags__link(href="#", title="сданные") сданные
                          li.n-tags__item
                            a.n-tags__link(href="#", title="идет строительство") идет строительство
                          li.n-tags__item
                            a.n-tags__link(href="#", title="бизнес-класс") бизнес-класс
                          li.n-tags__item
                            a.n-tags__link(href="#", title="сданные") сданные
                          li.n-tags__item
                            a.n-tags__link(href="#", title="за 8 млн ₽") за 8 млн ₽
                          li.n-tags__item.n-tags__item--toggle
                            a.n-tags__link(href="#", title="Показать все теги")
                              span.n-tags__icon.n-tags__icon--toggle
                                span
                                span
                                span
                  
                  div.page__tags
                    div.n-tags.n-tags--search
                      div.n-tags__content.is-open
                        ul.n-tags__list
                          li.n-tags__item
                            a.n-tags__link(href="#", title="идет строительство") идет строительство
                          li.n-tags__item
                            a.n-tags__link(href="#", title="бизнес-класс") бизнес-класс
                          li.n-tags__item
                            a.n-tags__link(href="#", title="сданные") сданные
                          li.n-tags__item
                            a.n-tags__link(href="#", title="за 8 млн ₽") за 8 млн ₽
                          li.n-tags__item
                            a.n-tags__link(href="#", title="элит класс") элит класс
                          li.n-tags__item
                            a.n-tags__link(href="#", title="за 3 млн ₽") за 3 млн ₽
                          li.n-tags__item
                            a.n-tags__link(href="#", title="за 8 млн ₽") за 8 млн ₽
                          li.n-tags__item
                            a.n-tags__link(href="#", title="элит класс") элит класс
                          li.n-tags__item
                            a.n-tags__link(href="#", title="за 3 млн ₽") за 3 млн ₽
                          li.n-tags__item
                            a.n-tags__link(href="#", title="идет строительство") идет строительство
                          li.n-tags__item
                            a.n-tags__link(href="#", title="сданные") сданные
                          li.n-tags__item
                            a.n-tags__link(href="#", title="идет строительство") идет строительство
                          li.n-tags__item
                            a.n-tags__link(href="#", title="бизнес-класс") бизнес-класс
                          li.n-tags__item
                            a.n-tags__link(href="#", title="сданные") сданные
                          li.n-tags__item
                            a.n-tags__link(href="#", title="за 8 млн ₽") за 8 млн ₽
                          li.n-tags__item.n-tags__item--toggle
                            a.n-tags__link(href="#", title="Показать все теги")
                              span.n-tags__icon.n-tags__icon--toggle
                                span
                                span
                                span
                  
                  div.page__nav.page__nav--sort
                    nav.n-nav.n-nav--sort(aria-label="Меню сортировки")
                      div.n-nav__content
                        div.n-nav__title Сортировать:
                        ul.n-nav__list
                          li.n-nav__item
                            a.n-nav__link(href="#", title="по цене") по цене
                          li.n-nav__item
                            a.n-nav__link(href="#", title="по сроку сдачи") по сроку сдачи

                    nav.n-nav.n-nav--sort(aria-label="Меню сортировки")
                      div.n-nav__content
                        div.n-nav__title Сортировать:
                        ul.n-nav__list
                          li.n-nav__item
                            a.n-nav__link.n-nav__link--up.is-active(href="#", title="по цене") по цене
                          li.n-nav__item
                            a.n-nav__link(href="#", title="по сроку сдачи") по сроку сдачи

                    nav.n-nav.n-nav--sort(aria-label="Меню сортировки")
                      div.n-nav__content
                        div.n-nav__title Сортировать:
                        ul.n-nav__list
                          li.n-nav__item
                            a.n-nav__link(href="#", title="по цене") по цене
                          li.n-nav__item
                            a.n-nav__link.n-nav__link--up.is-active(href="#", title="по сроку сдачи") по сроку сдачи

                    nav.n-nav.n-nav--sort(aria-label="Меню сортировки")
                      div.n-nav__content
                        div.n-nav__title Сортировать:
                        ul.n-nav__list
                          li.n-nav__item
                            a.n-nav__link.n-nav__link--down.is-active(href="#", title="по цене") по цене
                          li.n-nav__item
                            a.n-nav__link(href="#", title="по сроку сдачи") по сроку сдачи

                    nav.n-nav.n-nav--sort(aria-label="Меню сортировки")
                      div.n-nav__content
                        div.n-nav__title Сортировать:
                        ul.n-nav__list
                          li.n-nav__item
                            a.n-nav__link(href="#", title="по цене") по цене
                          li.n-nav__item
                            a.n-nav__link.n-nav__link--down.is-active(href="#", title="по сроку сдачи") по сроку сдачи

                  div.n-card-list.n-card-list--map

                    div.n-card-list__row
                      div.n-card-list__col
                        +card-offers(data)
                      div.n-card-list__col
                        +card-offers-1(data)
                      div.n-card-list__col
                        +card-offers-2(data)
                      div.n-card-list__col
                        +card-offers-3(data)
                      div.n-card-list__col
                        +card-offers-4(data)
                      div.n-card-list__col
                        +card-offers-5(data)
                      div.n-card-list__col
                        +card-offers-6(data)

                    div.n-card-list__action
                      a.n-card-list__link.n-card-list__link--add-more(href="#", title="Показать еще...") Показать еще...
                      div.page__pagination
                        nav.n-nav.n-nav--pagination(aria-label="Навигация по страницам")
                          ul.n-nav__list
                            li.n-nav__item
                              a.n-nav__link.n-nav__link--prev(href="#", title="Предыдущая страница")
                                != pugHelpers.Icon.call(locals, {iconName: 'n-arrow-left', className: 'n-icon n-icon--arrow-left'})
                            li.n-nav__item
                              a.n-nav__link(href="#", title="1") 1
                            li.n-nav__item.is-active
                              a.n-nav__link(href="#", title="2") 2
                            li.n-nav__item
                              a.n-nav__link(href="#", title="3") 3
                            li.n-nav__item
                              a.n-nav__link(href="#", title="Промежуточные страницы") ...
                            li.n-nav__item
                              a.n-nav__link(href="#", title="5") 5
                            li.n-nav__item
                              a.n-nav__link.n-nav__link--next(href="#", title="Следующая страница")
                                != pugHelpers.Icon.call(locals, {iconName: 'n-arrow-left', className: 'n-icon n-icon--right n-icon--arrow-left'})
              
              div.page__col.col-lg-6(style="display: block")
                div.n-card-list.n-card-list--map-search.is-sticky
                  div.n-map.n-map--card-list.n-card__map.n-card__map--demo
                    div.n-map__control.n-map__control--search
                      div.n-form.n-form--search-map
                        div.n-form__group
                          div.n-form__check
                            input.n-form__check-input(type="checkbox", value="", id="nMapSearch")
                            label.n-form__check-label(for="nMapSearch") Поиск при перемещении карты
                    div.n-map__control.n-map__control--fullscreen
                      button.n-map__btn(role="button", title="На весь экран")
                        != pugHelpers.Icon.call(locals, {iconName: 'n-fullscreen', className: 'n-icon n-icon--fullscreen'})
                    div.n-map__control.n-map__control--zoom
                      button.n-map__btn(role="button", title="Увеличить")
                        != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-icon n-icon--plus'})
                      button.n-map__btn(role="button", title="Уменьшить")
                        != pugHelpers.Icon.call(locals, {iconName: 'n-minus', className: 'n-icon n-icon--minus'})
                    dvi.n-map__card-offers
                      +card-offers-map-search(data)
                      div.n-map__control.n-map__control--close
                        button.n-map__btn.n-map__btn--card-close(role="button", title="Закрыть")
                          != pugHelpers.Icon.call(locals, {iconName: 'n-plus', className: 'n-icon n-icon--close'})



            div.n-card-list
              div.n-card-list__row
                div.n-card-list__col
                  +card-offers(data)
                div.n-card-list__col
                  +card-offers(data)
                div.n-card-list__col
                  +card-offers(data)
                div.n-card-list__col
                  +card-offers(data)

              div.n-card-list__action
                a.n-card-list__link.n-card-list__link--add-more(href="#", title="Показать еще...") Показать еще...
                div.page__pagination
                  nav.n-nav.n-nav--pagination(aria-label="Навигация по страницам")
                    ul.n-nav__list
                      li.n-nav__item
                        a.n-nav__link.n-nav__link--prev(href="#", title="Предыдущая страница")
                          != pugHelpers.Icon.call(locals, {iconName: 'n-arrow-left', className: 'n-icon n-icon--arrow-left'})
                      li.n-nav__item
                        a.n-nav__link(href="#", title="1") 1
                      li.n-nav__item.is-active
                        a.n-nav__link(href="#", title="2") 2
                      li.n-nav__item
                        a.n-nav__link(href="#", title="3") 3
                      li.n-nav__item
                        a.n-nav__link(href="#", title="Промежуточные страницы") ...
                      li.n-nav__item
                        a.n-nav__link(href="#", title="5") 5
                      li.n-nav__item
                        a.n-nav__link.n-nav__link--next(href="#", title="Следующая страница")
                          != pugHelpers.Icon.call(locals, {iconName: 'n-arrow-left', className: 'n-icon n-icon--right n-icon--arrow-left'})
              
            div.n-card-list.n-card-list--footer
              div.n-card-list__footer
                div.n-card-list__text
                  p Компания «КомСтрин» – девелопер федерального масштаба, через свою сеть дочерних обществ ведущий застройку в различных регионах России. Площадками для реализации проектов девелопера стали Урал, Сибирь курортное побережье Черного моря. Немалая доля проектов приходится на центральный регион и его столицу.
                    a.n-card-list__link.n-card-list__link--readmore(href="#", title="Читать полностью ...") Читать полностью ...

            div.page__map-switch
              div.n-map.n-map--switch
                div.n-map__control.n-map__control--switch
                  form.form(action="")
                    div.n-form__switch
                      input.n-form__switch-input(id="nCardListView" type="checkbox")
                      label.n-form__switch-label(for="nCardListView")
                        != pugHelpers.Icon.call(locals, {iconName: 'n-plate', className: 'n-form__switch-icon n-icon n-icon--plate'})
                        != pugHelpers.Icon.call(locals, {iconName: 'n-local', className: 'n-form__switch-icon n-icon n-icon--local'})
        //- +footer()

    +foot()
