.n-filter{
  $_: '.n-filter';
  position: relative;
  background: $white;
  box-shadow: 2px 2px 2px rgba($black, 0.1);
  z-index: 100;
  &.is-open{
    #{$_}__dropdown{
      display: block;
    }
    #{$_}__btn{
      &--toggle{
        color: $white;
      }
      &--toggle-header{
        border-color: $input-border-color;
        font-weight: $input-font-weight;
        .n-btn__icon{
          transform: rotate(90deg);
          color: $info;
        }
      }
    }
  }
  &__dropdown{
    display: none;
  }
  &__toggle{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -2px;
    margin-right: -2px;
    &--around{
      &:first-child,
      &--first{
        margin-top: -2px;
      }
      &:last-child,
      &--last{
        margin-bottom: -2px;
      }
      #{$_}__col{
        padding: 2px;
      }
    }
    &--header{
      margin-left: -4px;
      margin-right: -4px;
      #{$_}__col{
        padding-left: 4px;
        padding-right: 4px;
      }
    }
    &--footer{
      margin: -2px;
      flex-wrap: nowrap;
      #{$_}__col{
        flex: 0 0 auto;
        width: auto;
        min-width: 1px;
      }
    }
  }
  &__col{
    position: relative;
    min-height: 1px;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;

    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    min-width: 50%;
    &--search,
    &--type,
    &--price{
      margin-bottom: 20px;
      flex: 0 0 100%;
      max-width: 100%;
    }
    &--toggle,
    &--switch{
      display: none;
    }
  }
  &__dropdown{

  }
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__header{

  }
  &__body{
    flex-grow: 2;
  }
  &__footer{
    position: sticky;
    left: 0;
    bottom: 0;
    border-top: 1px solid $border-color;
    padding-top: 10px;
    padding-bottom: 10px;
    background: $white;
    z-index: 100;
    &::before{
      pointer-events: none;
      position: absolute;
      top: -23px;
      left: 0;
      right: 0;
      content: '';
      display: block;
      height: 22px;
      width: 100%;
      background: linear-gradient(0deg, rgba(#333333, .12) -29.17%, rgba(196, 196, 196, 0) 100%);
      z-index: 100;
    }
  }
  &__btn{
    &--toggle-header{
      border-color: $input-border-color;
      font-weight: $input-font-weight;
      &:hover{
        .n-btn__icon{
          color: $info;
        }
      }
    }
  }
  &__legend{
    margin-bottom: 20px;
    &-title{
      display: block;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: $font-weight-medium;
    }
    &--type{
      display: none;
    }
  }
}
@import 'filter.responsive';
