.n-filter{
  $_: '.n-filter';
  @include media-breakpoint-down(xs) {
    &__row{
      &--footer{
        & > #{$_}__col{
          &:nth-child(2){
            max-width: calc(100% - 89px);
            flex: 0 0 calc(100% - 89px);
          }
        }
      }
    }
    .n-form__selector{
      &-label{
        padding-left: 12px;
        padding-right: 12px;
      }
    }
    .n-btn{
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  @include media-breakpoint-up(sm) {
    #{$_}__row{
      &--foter{
        & > #{$_}__col{
          flex: 0 0 auto;
          width: auto;
          min-width: 1px;
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    &__col{
      flex: 0 0 auto;
      width: auto;
      min-width: 160px;
      &--single{
        flex: 0 0 320px;
        width: 100px;
        max-width: 320px;
      }
      &--price,
      &--type{
        max-width: 320px;
        width: 100%;
      }
      &--search{
        flex: 0 0 100%;
        width: 100%;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &.is-open{
      #{$_}__body{
        display: block;
      }
    }
    &__toggle{
      display: none;
    }
    &__dropdown{
      display: block;
    }
    &__header{
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &__footer{
      &::before{
        content: none;
      }
    }
    &__row{
      &--header{
        #{$_}__col{
          margin-bottom: 0;
        }
      }
      &--footer{
        flex-direction: row-reverse;
        justify-content: flex-end;
      }
    }
    &__col{
      &--search{
        width: 100%;
        max-width: 405px;
      }
      &--type{
        display: none;
        width: 100%;
        max-width: 245px;
        .n-form__selector{
          &-label{
            padding-left: 10px;
            padding-right: 10px;
            min-width: $input-height-inner;
          }
        }
      }
      &--price{
        width: 100%;
        max-width: 285px;
      }
      &--toggle{
        display: block;
        flex: 0 0 auto;
        width: auto;
        min-width: auto;
      }
      &--switch{
        display: block;
        margin-left: auto;
        flex: 0 0 auto;
        width: auto;
        min-width: 1px;
      }
    }
    &__body{
      display: none;
    }
    &__legend{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      &-title{
        padding: 10px 10px 0 0;
        flex: 0 0 125px;
        width: 125px;
        box-sizing: border-box;
      }
      &-body{
        flex: calc(100% - 125px);
        width: calc(100% - 125px);
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__legend{
      &--type{
        display: none;
      }
    }
    &__col{
      &--type{
        display: block;
      }
    }
  }
}
