.n-tags{
  $_: '.n-tags';
  &__content{
    overflow: hidden;
    max-height: 28px;
    &.is-open{
      max-height: 1000px;
      #{$_}__item{
        &--toggle{
          #{$_}__link{
            border-color: rgba($info, .2);
            background: rgba($info, .2);
          }
        }
      }
      #{$_}__icon{
        &--toggle{
          span{
            transform: translate(-50%, -50%);
            &:nth-child(2){
              width: 16px;
            }
          }
        }
      }
    }
  }
  &__list{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1px;
    margin-right: -1px;
    padding-right: 40px;
    &:first-child,
    &--first{
      margin-top: -1px;
    }
    &:last-child,
    &--last{
      margin-bottom: -1px;
    }
  }
  &__item{
    padding: 1px;
    &--toggle{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__link{
    @extend .n-btn;
    @extend .n-btn--sm;
    border-color: rgba($info, .2);
    padding-left: 8px;
    padding-right: 8px;
    color: $info;
    font-size: 12px;
    font-weight: 500;
    &:hover,
    &:focus{
      border-color: $info;
      color: $white;
      background: $info;
    }
    &.is-active{
      border-color: rgba($info, .2);
      background: rgba($info, .2);
      #{$_}__icon{
        &--toggle{
          span{
            transform: translate(-50%, -50%);
            &:nth-child(2){
              width: 16px;
            }
          }
        }
      }
    }
  }
  &__icon{
    &--toggle{
      position: relative;
      display: block;
      height: 20px;
      width: 20px;
      span{
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        border: 2px solid;
        border-radius: 4px;
        width: 4px;
        height: 4px;
        box-sizing: border-box;
        transform: translate(-50%, -50%);
        transition: $transition-base;
        &:nth-child(1){
          transform: translate(calc(-50% - 6px), -50%);
        }
        &:nth-child(2){}
        &:nth-child(3){
          transform: translate(calc(-50% + 6px), -50%);
        }
      }
    }
  }
  &--selected{
    margin-left: -2px;
    margin-right: -2px;
    &:first-child,
    &--first{
      margin-top: -2px;
    }
    &:last-child,
    &--last{
      margin-bottom: -2px;
    }
    #{$_}__item{
      padding: 2px;
    }
    #{$_}__link{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      border-color: lighten($primary, 50%);
      padding: 9px;
      color: $body-color;
      font-weight: $font-weight-normal;
      background: lighten($primary, 50%);
      &:hover,
      &:focus{
        color: $body-color;
        #{$_}__icon{
          &--close{
            color: $info;
          }
        }
      }
    }
    #{$_}__text{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 14px;
      line-height: 1.15;
      flex: 1 1 auto;
    }
    #{$_}__icon{
      color: $primary;
      font-size: 16px;
      &:first-child,
      &--first{
        margin-right: 6px;
      }
      &:last-child,
      &--last{
        margin-left: 12px;
      }
      &--close{
        color: $secondary;
      }
      &--undegraund{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: .25em;
        font-size: 16px;
        #{$_}__icon-item{
          border-radius: .5em;
          margin-left: calc(-.25em + 1px);
          box-shadow: 0 0 0 1px lighten($primary, 50%);
          &:first-child,
          &--first{
            margin-left: 0;
          }
          &::before{
            content: '';
            display: block;
            border-radius: .5em;
            border: .25em solid;
            width: .5em;
            height: .5em;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

@import 'tags.responsive';
