.n-tags{
  $_: '.n-tags';
  @include media-breakpoint-up(lg) {
    // &--search{
    //   #{$_}__list{
    //     padding-right: 0;
    //   }
    // }
    &__item{
      &--toggle{
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
