mixin card-offers-map-search(data)
  div.n-card.n-card--offers.n-card--map-search
    div.n-card__content.n-card__content--teaser
      div.n-card__media.n-card__media--overlay
        picture.n-card__picture
          source(
            srcset="%=static=%img/assets/card/n-card__img@1x.webp 1x, %=static=%img/assets/card/n-card__img@2x.webp 2x, %=static=%img/assets/card/n-card__img@3x.webp 3x",
            type="image/webp")
          img.n-card__img(
            srcset="%=static=%img/assets/card/n-card__img@1x.jpg 1x, %=static=%img/assets/card/n-card__img@2x.jpg 2x, %=static=%img/assets/card/n-card__img@3x.jpg 3x",
            src="%=static=%img/assets/card/n-card__img@1x.jpg",
            alt="ЖК Родной город. Воронцовский парк")
        div.n-card__meta.n-card__meta--media.n-card__meta--top
          div.n-card__meta-row
            div.n-card__meta-col
              div.n-card__meta-item.n-card__meta-item--secondary
                div.n-card__meta-icon
                  != pugHelpers.Icon.call(locals, {iconName: 'n-video', className: 'n-icon n-icon--video'})
                div.n-card__meta-text 12
            div.n-card__meta-col
              div.n-card__meta-item.n-card__meta-item--secondary
                div.n-card__meta-icon
                  != pugHelpers.Icon.call(locals, {iconName: 'n-photo', className: 'n-icon n-icon--photo'})
                div.n-card__meta-text 3
            div.n-card__meta-col
              div.n-card__meta-item.n-card__meta-item--secondary
                div.n-card__meta-icon
                  != pugHelpers.Icon.call(locals, {iconName: 'n-speachbuble', className: 'n-icon n-icon--speachbuble'})
                div.n-card__meta-text 248
        div.n-card__meta.n-card__meta--media.n-card__meta--bottom
          div.n-card__meta-row
            div.n-card__meta-col
              div.n-card__meta-item
                div.n-card__meta-status Строится, есть сданные
            div.n-card__meta-col
              div.n-card__meta-item
                div.n-card__meta-price от 3 045 100 ₽
      b.n-card__title
        a.n-card__link.n-card__link--title(href="#", title="ЖК Родной город. Воронцовский парк") ЖК Родной город. Воронцовский парк

      div.n-card__action
        div.n-card__action-row.row.flex-nowrap.mt-0
          div.n-card__action-col
            a.n-btn.n-btn--sm.n-btn--block.n-btn--accent(role="button", title="Позвонить", href="tel: +7495925888") 
              div.n-btn__text +7 (495) 925 - 888
          div.n-card__action-col
            a.n-btn.n-btn--sm.n-btn--block.n-btn--outline-info(role="button", title="Подробнее", href="#")
              div.n-btn__text Подробнее
    div.n-card__content
      div.n-card__meta.n-card__meta--specification
        div.n-card__meta-row.n-card__meta-row--head.row
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text Тип квартиры
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text Площадь
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text Цена, за квартиру
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text Цена, за квартиру
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text В продаже

        div.n-card__meta-row.row
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-title Студия
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 22-31 м
                sup 2
          div.n-card__meta-col
            div.n-card__meta-item
              dvi.n-card__meta-text Нет данных
          div.n-card__meta-col
            div.n-card__meta-item
              dvi.n-card__meta-text Нет данных
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 
                a(href="#", title="0 предложений") 0 предложений

        div.n-card__meta-row.row
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-title 1-комнатные
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 22-31 м
                sup 2
          div.n-card__meta-col 
            div.n-card__meta-item
              dvi.n-card__meta-text от 8,6 млн ₽
          div.n-card__meta-col 
            div.n-card__meta-item
              dvi.n-card__meta-text 8,6 — 20,6 млн ₽
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text
                a(href="#", title="0 предложений") 0 предложений

        div.n-card__meta-row.row
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-title 2-комнатные
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 48-64 м
                sup 2
          div.n-card__meta-col 
            div.n-card__meta-item
              dvi.n-card__meta-text от 10,5 млн ₽
          div.n-card__meta-col 
            div.n-card__meta-item
              dvi.n-card__meta-text 10,5 — 29,6 млн ₽
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 
                a(href="#", title="0 предложений") 0 предложений

        div.n-card__meta-row.row
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-title 3-комнатные
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 64-80 м
                sup 2
          div.n-card__meta-col 
            div.n-card__meta-item
              dvi.n-card__meta-text от 16,3 млн ₽
          div.n-card__meta-col 
            div.n-card__meta-item
              dvi.n-card__meta-text 16,3 — 32,6 млн ₽
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 
                a(href="#", title="0 предложений") 0 предложений

        div.n-card__meta-row.row
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-title 4-комнатные
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 80-120 м
                sup 2
          div.n-card__meta-col 
            div.n-card__meta-item
              dvi.n-card__meta-text от 20,7 млн ₽
          div.n-card__meta-col 
            div.n-card__meta-item
              dvi.n-card__meta-text 20,7 — 40,8 млн ₽
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 
                a(href="#", title="0 предложений") 0 предложений
