mixin card-offers-map(data)
  div.n-card.n-card--offers.n-card--offers-map
    div.n-card__content.n-card__content--teaser
      div.n-card__media.n-card__media--overlay
        picture.n-card__picture
          source(
            srcset="%=static=%img/assets/card/n-card__img@1x.webp 1x, %=static=%img/assets/card/n-card__img@2x.webp 2x, %=static=%img/assets/card/n-card__img@3x.webp 3x",
            type="image/webp")
          img.n-card__img(
            srcset="%=static=%img/assets/card/n-card__img@1x.jpg 1x, %=static=%img/assets/card/n-card__img@2x.jpg 2x, %=static=%img/assets/card/n-card__img@3x.jpg 3x",
            src="%=static=%img/assets/card/n-card__img@1x.jpg",
            alt="ЖК Родной город. Воронцовский парк")
        div.n-card__meta.n-card__meta--media.n-card__meta--top
          div.n-card__meta-row
            div.n-card__meta-col
              div.n-card__meta-item.n-card__meta-item--secondary
                div.n-card__meta-icon
                  != pugHelpers.Icon.call(locals, {iconName: 'n-video', className: 'n-icon n-icon--video'})
                div.n-card__meta-text 12
            div.n-card__meta-col
              div.n-card__meta-item.n-card__meta-item--secondary
                div.n-card__meta-icon
                  != pugHelpers.Icon.call(locals, {iconName: 'n-photo', className: 'n-icon n-icon--photo'})
                div.n-card__meta-text 3
        div.n-card__meta.n-card__meta--media.n-card__meta--bottom
          div.n-card__meta-row
            div.n-card__meta-col
              div.n-card__meta-item
                div.n-card__meta-status Строится, есть сданные
            div.n-card__meta-col
              div.n-card__meta-item
                div.n-card__meta-price от 3 045 100 ₽
      b.n-card__title
        a.n-card__link.n-card__link--title(href="#", title="ЖК Родной город. Воронцовский парк") ЖК Родной город. Воронцовский парк
      div.n-card__body
        div.n-card__text
          p Москвовская область, Дмитровский район, с .Жмурки
        div.n-card__underground
          div.n-card__underground-icon(style="color: #266BC8")
          div.n-card__underground-station Полежаевская
          div.n-card__underground-distance 5 мин. пешком
        div.n-card__text
          p Застройщик: 
            a(href="#", title="КомСтрин") КомСтрин
            br 
            | Официальный сайт: 
            a(href="#", title="Перейти") перейти
              != pugHelpers.Icon.call(locals, {iconName: 'n-external-link', className: 'n-icon n-icon--photo'})
        div.n-card__action
          div.n-card__action-row.row.flex-nowrap.mt-0
            div.n-card__action-col
              a.n-btn.n-btn--sm.n-btn--block.n-btn--accent(role="button", title="Позвонить", href="tel: +7495925888") 
                div.n-btn__text +7 (495) 925 - 888
            div.n-card__action-col
              a.n-btn.n-btn--sm.n-btn--block.n-btn--outline-info(role="button", title="Подробнее", href="#") 
                div.n-btn__text.n-btn__text--bold Подробнее
    hr.n-card__hr.mt-0.mb-0
    div.n-card__content
      div.n-card__meta.n-card__meta--specification
        div.n-card__meta-row.row
          div.n-card__meta-col.col-auto
            div.n-card__meta-item
              div.n-card__meta-title Квартиры
              div.n-card__meta-text.n-card__meta-text--secondary от 31 м
                sup 2
          div.n-card__meta-col.n-card__meta-col--dotted.col
          div.n-card__meta-col.col-auto
            div.n-card__meta-item
              div.n-card__meta-text от 19,6 млн ₽

      div.n-card__meta.n-card__meta--specification-table
        div.n-card__meta-row.row
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text.n-card__meta-text--secondary Тип квартиры
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text.n-card__meta-text--secondary Площадь
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text.n-card__meta-text--secondary Цена, за квартиру
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text.n-card__meta-text--secondary В продаже

        div.n-card__meta-row.row
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-title Студия
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 22-31 м
                sup 2
          div.n-card__meta-col
            div.n-card__meta-item.n-card__meta-item--dotted
              dvi.n-card__meta-text Нет данных
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 
                a(href="#", title="0 предложений") 0 предложений

        div.n-card__meta-row.row
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-title 1-комнатные
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 22-31 м
                sup 2
          div.n-card__meta-col 
            div.n-card__meta-item.n-card__meta-item--dotted
              dvi.n-card__meta-text 8,6 — 20,6 млн ₽
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 
                a(href="#", title="0 предложений") 0 предложений

        div.n-card__meta-row.row
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-title 2-комнатные
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 48-64 м
                sup 2
          div.n-card__meta-col 
            div.n-card__meta-item.n-card__meta-item--dotted
              dvi.n-card__meta-text 10,5 — 29,6 млн ₽
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 
                a(href="#", title="0 предложений") 0 предложений

        div.n-card__meta-row.row
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-title 3-комнатные
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 64-80 м
                sup 2
          div.n-card__meta-col 
            div.n-card__meta-item.n-card__meta-item--dotted
              dvi.n-card__meta-text 16,3 — 32,6 млн ₽
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 
                a(href="#", title="0 предложений") 0 предложений

        div.n-card__meta-row.row
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-title 4-комнатные
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 80-120 м
                sup 2
          div.n-card__meta-col 
            div.n-card__meta-item.n-card__meta-item--dotted
              dvi.n-card__meta-text 20,7 — 40,8 млн ₽
          div.n-card__meta-col 
            div.n-card__meta-item 
              dvi.n-card__meta-text 
                a(href="#", title="0 предложений") 0 предложений
        

      div.n-card__action
        div.n-card__action-row.row.flex-nowrap.mt-0
          div.n-card__action-col
            a.n-btn.n-btn--sm.n-btn--block.n-btn--accent(role="button", title="Позвонить", href="tel: +7495925888") 
              div.n-btn__text +7 (495) 925 - 888
          div.n-card__action-col
            a.n-btn.n-btn--sm.n-btn--block.n-btn--outline-info(role="button", title="Подробнее", href="#") 
              div.n-btn__text.n-btn__text--bold Подробнее
    hr.n-card__hr.mt-0.mb-0
    div.n-card__footer
      div.n-card__meta.n-card__meta--statistics
        div.n-card__meta-row.row
          div.n-card__meta-col

            div.n-card__meta-item
              div.n-card__meta-text атмосфера
              div.n-notification.n-notification--offers
                div.n-notification__media
                  div.n-notification__icon.n-notification__icon--danger
                    != pugHelpers.Icon.call(locals, {iconName: 'n-emo-angry', className: 'n-icon n-icon--emo-angry'})

          div.n-card__meta-col

            div.n-card__meta-item
              div.n-card__meta-text пользователей
              div.n-user.n-user--offers
                div.n-user__list.n-user__list--media
                  div.n-user__item
                    div.n-user__media.n-user__media--online
                      img.n-user__img(
                        srcset="%=static=%img/assets/user/n-user__img@1x.png 1x, %=static=%img/assets/user/n-user__img@2x.png 2x, %=static=%img/assets/card/n-user__img@3x.png 3x",
                        src="%=static=%img/assets/user/n-user__img@1x.png",
                        height="20px",
                        width="20px",
                        alt="User")
                  div.n-user__item
                    div.n-user__media
                      img.n-user__img(
                        srcset="%=static=%img/assets/user/n-user__img@1x.png 1x, %=static=%img/assets/user/n-user__img@2x.png 2x, %=static=%img/assets/card/n-user__img@3x.png 3x",
                        src="%=static=%img/assets/user/n-user__img@1x.png",
                        height="20px",
                        width="20px",
                        alt="User")
                  div.n-user__item
                    div.n-user__media.n-user__media--online
                      img.n-user__img(
                        srcset="%=static=%img/assets/user/n-user__img@1x.png 1x, %=static=%img/assets/user/n-user__img@2x.png 2x, %=static=%img/assets/card/n-user__img@3x.png 3x",
                        src="%=static=%img/assets/user/n-user__img@1x.png",
                        height="20px",
                        width="20px",
                        alt="User")


                div.n-user__text +3 425

          div.n-card__meta-col

            div.n-card__meta-item
              div.n-card__meta-text сообщений
              div.n-messages.n-messages--offers.n-messages--add-new
                div.n-messages__media
                  div.n-messages__icon
                    != pugHelpers.Icon.call(locals, {iconName: 'n-speachbuble', className: 'n-icon n-icon--speachbuble'})
                  div.n-messages__icon
                    != pugHelpers.Icon.call(locals, {iconName: 'n-add-speachbuble', className: 'n-icon n-icon--add-speachbuble'})
                  div.n-messages__icon
                    != pugHelpers.Icon.call(locals, {iconName: 'n-add-speachbuble', className: 'n-icon n-icon--add-speachbuble'})
                div.n-messages__text 505

