mixin card-offers-3(data)
  div.n-card.n-card--offers
    div.n-card__footer
      div.n-card__meta.n-card__meta--statistics
        div.n-card__meta-row.row
          div.n-card__meta-col
            div.n-card__meta-item
              div.n-card__meta-text атмосфера
              div.n-notification.n-notification--offers
                div.n-notification__media
                  div.n-notification__icon.n-notification__icon--danger
                    != pugHelpers.Icon.call(locals, {iconName: 'n-emo-angry', className: 'n-icon n-icon--emo-angry'})
          div.n-card__meta-col
            div.n-card__meta-item
              div.n-card__meta-text пользователей
              div.n-user.n-user--offers
                div.n-user__list.n-user__list--media
                  div.n-user__item
                    div.n-user__media.n-user__media--online
                      img.n-user__img(
                        srcset="%=static=%img/assets/user/n-user__img@1x.png 1x, %=static=%img/assets/user/n-user__img@2x.png 2x, %=static=%img/assets/card/n-user__img@3x.png 3x",
                        src="%=static=%img/assets/user/n-user__img@1x.png",
                        height="20px",
                        width="20px",
                        alt="User")
                  div.n-user__item
                    div.n-user__media
                      img.n-user__img(
                        srcset="%=static=%img/assets/user/n-user__img@1x.png 1x, %=static=%img/assets/user/n-user__img@2x.png 2x, %=static=%img/assets/card/n-user__img@3x.png 3x",
                        src="%=static=%img/assets/user/n-user__img@1x.png",
                        height="20px",
                        width="20px",
                        alt="User")
                  div.n-user__item
                    div.n-user__media.n-user__media--online
                      img.n-user__img(
                        srcset="%=static=%img/assets/user/n-user__img@1x.png 1x, %=static=%img/assets/user/n-user__img@2x.png 2x, %=static=%img/assets/card/n-user__img@3x.png 3x",
                        src="%=static=%img/assets/user/n-user__img@1x.png",
                        height="20px",
                        width="20px",
                        alt="User")
                div.n-user__text +3 425
          div.n-card__meta-col
            div.n-card__meta-item
              div.n-card__meta-text сообщений
              div.n-messages.n-messages--offers
                div.n-messages__media
                  div.n-messages__icon
                    != pugHelpers.Icon.call(locals, {iconName: 'n-speachbuble', className: 'n-icon n-icon--speachbuble'})
                div.n-messages__text 505
