.n-card{
  $_: '.n-card';
  @include media-breakpoint-up(sm) {
    &--map-search{
      margin-left: 0;
      margin-right: 0;
      width: 248px;
      #{$_}__content{
        display: block;
      }
      #{$_}__meta-col{
        &:first-child{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          &::after{
            content: '.';
          }
        }
      }
      #{$_}__meta-title{
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        max-width: 43px;
      }
    }
    &--map-search{
      #{$_}__content{
        &:first-child{
          padding-bottom: 0;
          & ~ #{$_}__content{
            padding-top: 0;
          }
        }
      }
      #{$_}__action{
        display: none !important;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &--offers-map, .n-card-list--map & {
      max-width: 600px;
      #{$_}__content{
        &--teaser{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          #{$_}__action{
            display: block;
          }
        }
      }
      #{$_}__title{
        order: 1;
        margin-bottom: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 20px;
        line-height: 1.3;
        flex: 0 0 100%;
        width: 100%;
      }
      #{$_}__media,
      #{$_}__media::before,
      #{$_}__img{
        @include border-radius($card-border-radius);
      }
      #{$_}__media{
        overflow: hidden;
        order: 2;
        margin: 0;
        flex: 0 0 292px;
        max-width: 292px;
        width: 100%;
        & ~ #{$_}__body{
          margin-left: 16px;
        }
      }
      #{$_}__slider{
        &--controls{
          top: 58px;
          left: 16px;
          right: auto;
          margin: 0;
          width: 292px;
        }
      }
      #{$_}__body{
        order: 3;
        flex: 0 0 calc(100% - 308px);
        max-width: calc(100% - 308px);
        width: 100%;
      }
      #{$_}__text{
        margin-bottom: 12px;
      }
      #{$_}__action{
        display: none;
      }
      #{$_}__meta{
        &--statistics{
          #{$_}__meta{
            &-item{
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
            }
            &-text{
              order: 2;
              margin-bottom: 0;
              margin-left: 4px;
            }
          }
        }
        &--specification{
          display: table;
          #{$_}__meta-row{
            display: table-row;
            margin-left: 0;
            margin-right: 0;
          }
          #{$_}__meta-col{
            display: table-cell;
            color: $body-color;
            white-space: nowrap;
            &:first-child{
              padding-left: 0;
            }
            &:last-child{
              padding-right: 0;
            }
            &:nth-child(2){
              width: auto;
              #{$_}__meta-item{
                &::after{
                  content: none;
                }
              }
            }
            &:nth-child(3){
              display: none;
            }
            &:nth-child(4){
              width: 100%;
              #{$_}__meta-item{
                &::after{
                  content: '';
                }
              }
            }
          }
        }
      }
    }
  }
}
