mixin card-offers-6(data)
  div.n-card.n-card--offers
    div.n-card__footer
      div.n-card__meta.n-card__meta--statistics
        div.n-card__meta-row.row
          div.n-card__meta-col
            div.n-card__meta-item
              div.n-card__meta-text атмосфера
              div.n-notification.n-notification--offers.n-notification--empty
                div.n-notification__media
                  div.n-notification__icon.n-notification__icon--secondary
                    != pugHelpers.Icon.call(locals, {iconName: 'n-emo-no', className: 'n-icon n-icon--emo-no'})
          div.n-card__meta-col
            div.n-card__meta-item
              div.n-card__meta-text пользователей
              div.n-user.n-user--offers.n-user--empty
                div.n-user__list.n-user__list--media
                  div.n-user__item
                    div.n-user__media
                      div.n-user__icon
                        != pugHelpers.Icon.call(locals, {iconName: 'n-user', className: 'n-icon n-icon--user'})
                div.n-user__text 0
          div.n-card__meta-col
            div.n-card__meta-item
              div.n-card__meta-text сообщений
              div.n-messages.n-messages--offers.n-messages--empty
                div.n-messages__media
                  div.n-messages__icon
                    != pugHelpers.Icon.call(locals, {iconName: 'n-speachbuble', className: 'n-icon n-icon--speachbuble'})
                div.n-messages__text 0

