.n-card{
  $_: '.n-card';
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);
  > hr {
    margin-right: 0;
    margin-left: 0;
  }
  &__content{
    // Enable `flex-grow: 1` for decks and groups so that card blocks take up
    // as much space as possible, ensuring footers are aligned to the bottom.
    flex: 1 1 auto;
    padding: $card-spacer-x;
  }
  &__header{
    padding: $card-spacer-y $card-spacer-x;
    margin-bottom: 0; // Removes the default margin-bottom of <hN>
    color: $card-cap-color;
    background-color: $card-cap-bg;
    border-bottom: $card-border-width solid $card-border-color;
    &:first-child,
    &--first{
      @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
    }
  }
  &__footer{
    padding: $card-spacer-y $card-spacer-x;
    background-color: $card-cap-bg;
    border-top: $card-border-width solid $card-border-color;
    &:last-child,
    &--last{
      @include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
    }
  }
  &__title{
    margin-bottom: $card-spacer-y;
  }
  &__subtitle{
    margin-top: -$card-spacer-y / 2;
    margin-bottom: 0;
  }
  &__text{
    &:last-child,
    &--last{
      margin-bottom: 0;
    }
  }
  &__link{
    @include hover {
      text-decoration: none;
    }
    + #{$_}__link {
      margin-left: $card-spacer-x;
    }
  }
  &__action{
    position: relative;
    margin-top: auto;
    padding-top: 16px;
    z-index: 200;
    &-row{
      margin-left: -2px;
      margin-right: -2px;
      width: calc(100% + 4px);
      &:first-child,
      &--first{
        margin-top: -2px;
      }
      &:last-child,
      &--last{
        margin-bottom: -2px;
      }
    }
    &-col{
      padding: 2px;
      transition: $transition-base;
      max-width: 100%;
      &:first-child:not(:last-child){
        flex: 0 0 calc(100% - 112px);
        width: calc(100% - 112px);
        &:hover,
        &:focus{
          flex: 0 0 calc(100% - 48px);
          width: calc(100% - 48px);
          & ~ #{$_}__action-col{
            flex: 0 0 48px;
            width: 48px;
          }
        }
      }
      &:last-child:not(:first-child){
        flex: 0 0 112px;
        width: 112px;
      }
      &:first-child:last-child{
        flex: 0 0 100%;
        width: 100%;
      }
    }
  }
  &__img{
    width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
    @include border-radius($card-inner-border-radius);
    &--overlay{
      pointer-events: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: $card-img-overlay-padding;
    }
    &--top{
      width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
      @include border-top-radius($card-inner-border-radius);
    }
    &--bottom{
      width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
      @include border-bottom-radius($card-inner-border-radius);
    }
  }
  &__media{
    position: relative;
    &--overlay{
      &::before{
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        @include border-radius($card-border-radius);
        height: 100%;
        width: 100%;
        background: no-repeat 0 0;
        background-image: linear-gradient(180deg, rgba($black, 0.4) 0%, rgba($black, 0) 22.85%, rgba($black, 0) 75.79%, rgba($black, 0.4) 100%);
        background-size: 100% 100%;
        z-index: 10;
      }
    }
  }
  &__slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &--controls{
      pointer-events: none;
      height: auto;
      margin: -#{$border-width};
      width: calc(100% + #{$border-width});
      z-index: 1050;
      &:hover{
        #{$_}__slider{
          &-btn{
            opacity: 1;
          }
        }
      }
      &::after{
        content: '';
        display: block;
        padding-bottom: 60%;
        width: 100%;
      }
    }
    &-btn{
      pointer-events: all;
      position: absolute;
      top: calc(50% - .5em);
      left: 8px;
      padding: 0;
      border: 0;
      color: $white;
      font-size: 24px;
      height: 1em;
      width: 1em;
      background: transparent;
      opacity: 0;
      transition: $transition-fade;
      &:hover,
      &:focus{
        cursor: pointer;
        outline: none !important;
        box-shadow: 0 0 0 transparent !important;
      }
      &--next{
        left: auto;
        right: 8px;
        transform: rotate(180deg) ;
      }
    }
    &-icon{
      display: block;
    }
    &-container{
      height: 100%;
      width: 100%;
    }
    &-wrapper{}
    &-item{}
  }
  &__picture{
    display: block;
    width: 100%;
    max-width: 100%;
  }
  &__meta{
    z-index: 100;
    &-row{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -4px;
      margin-right: -4px;
    }
    &-col{
      position: relative;
      padding-left: 4px;
      padding-right: 4px;
      min-height: 1px;
      flex: 0 0 auto;
      max-width: 100%;
      width: auto;
    }
    &-item{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
    &-icon{
      margin-right: 2px;
      font-size: 24px;
      & > .n-icon{
        display: block;
      }
    }
    &-status{
      font-size: 13px;
      font-weight: $font-weight-medium;
      line-height: 1.25;
    }
    &-price{
      font-size: 14px;
      font-weight: $font-weight-bold;
      line-height: 1.25;
    }
    &--media{
      position: absolute;
      left: 0;
      right: 0;
      padding: 12px;
      color: $white;
    }
    &--top{
      top: 0;
      opacity: .85;
      padding-bottom: 0;
      font-size: 16px;
      font-weight: $font-weight-medium;
    }
    &--bottom{
      padding-top: 0;
      bottom: 0;
      #{$_}__meta-row{
        justify-content: space-between;
      }
    }
    &--specification{
      width: 100%;
      #{$_}__meta-row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        &:first-child,
        &--first{
          #{$_}__meta-col{
            padding-bottom: 16px;
          }
        }
        &:last-child,
        &--last{
          #{$_}__meta-col{
            padding-bottom: 0;
          }
        }

        &--head{
          display: none;
          #{$_}__meta-col{
            color: $secondary !important;
            font-size: 13px !important;
            font-weight: $font-weight-normal !important;
          }
          #{$_}__meta-item{
            &::after{
              content: none !important;
            }
          }
        }
      }
      #{$_}__meta-col{
        padding-bottom: 12px;
        font-size: 13px;
        line-height: 1.25;
        &:first-child{
          font-weight: $font-weight-medium;
        }
        &:last-child{
          font-weight: $font-weight-medium;
        }
        &:nth-child(2){
          color: $secondary;
          flex-grow: 1;
          #{$_}__meta-item{
            &::after{
              content: '';
            }
          }
        }
        &:nth-child(4),
        &:nth-child(5){
          display: none;
        }
      }
      #{$_}__meta-item{
        &::after{
          display: block;
          margin-left: 8px;
          width: 100%;
          height: 17px;
          background: repeat-x 0 75%;
          background-image: radial-gradient(circle, $secondary .5px, transparent .75px);
          background-size: 4px 2px;
          flex-basis: 0;
          flex-grow: 1;
          width: 100%;
        }
      }
    }
    &--statistics{
      #{$_}__meta{
        &-row{
          flex-wrap: nowrap;
          justify-content: space-between;
        }
        &-item{
          display: block;
          font-size: 13px;
          line-height: 1.25;
        }
        &-text{
          margin-bottom: 2px;
          color: $secondary;
        }
      }
    }
  }
  &__underground{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 12px;
    font-size: 13px;
    line-height: 1.3;
    &-icon{
      margin-right: 8px;
      font-size: 8px;
      border-radius: 1em;
      border: .5em solid;
      width: 1em;
      height: 1em;
      box-sizing: border-box;
    }
    &-station{
      margin-right: 8px;
    }
    &-distance{
      margin-right: 8px;
      color: $secondary;
    }
  }
  &--offers{
    width: 100%;
    max-width: 480px;
    box-shadow: $card-box-shadow;
    a, .btn{
      position: relative;
      z-index: 200;
    }
    &:hover,
    &.is-hover{
      box-shadow: 0px 2px 32px rgba($black, .1);
      #{$_}__slider-btn{
        opacity: 1;
      }
    }
    & > #{$_}__hr{
      margin-left: -$card-border-width;
      margin-right: -$card-border-width;
    }
    #{$_}__content{
      position: static;
      display: flex;
      flex-direction: column;
      padding: 16px;
      &--teaser{
        display: block;
        #{$_}__action{
          display: none;
        }
      }
    }
    #{$_}__body{
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    #{$_}__footer{
      border: 0;
      margin-left: -$card-border-width;
      margin-right: -$card-border-width;

      &:last-child,
      &--last{
        margin-bottom: -$card-border-width;
      }
    }
    #{$_}__title{
      display: block;
      margin-bottom: 12px;
      color: $blue;
      font-size: 18px;
      font-weight: $font-weight-medium;
      line-height: 1.25;
    }
    #{$_}__text{
      margin-bottom: 0;
      font-size: 14px;
      font-weight: $font-weight-normal;
      line-height: 1.4;
      &:last-child,
      &--last{
        margin-bottom: 0;
      }
      p{
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    #{$_}__link{
      &--title{
        position: static;
        color: inherit;
        z-index: 0;
        &::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          height: 100%;
          width: 100%;
          z-index: 100;
        }
      }
    }
    #{$_}__media,
    #{$_}__media::before,
    #{$_}__img{
      @include border-bottom-radius(0);
    }
    #{$_}__media{
      margin: calc(-16px - #{$border-width});
      margin-bottom: 16px;
      align-self: flex-start;
      &::after{
        content: '';
        display: block;
        padding-bottom: 60%;
        width: 100%;
      }
    }
    #{$_}__picture,
    #{$_}__img{
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: 100%;
      max-width: 100%;
      @include object-fit(cover, center center);
    }
  }
  &--map-search{
    max-width: none;
    #{$_}__content{
      padding: 10px;
      display: none;
      &--teaser{
        display: block;
        #{$_}__action{
          display: block;
        }
      }
    }
    #{$_}__media{
      margin: calc(-10px - 1px);
      margin-bottom: 16px;
    }
    #{$_}__title{
      margin-bottom: 12px;
      font-size: 16px;
      line-height: 1.3125;
    }
    #{$_}__action{
      padding-top: 0;
      margin-top: 0;
    }
    #{$_}__meta{
      &--top{
        padding: 10px;
        padding-bottom: 0;
      }
      &--bottom{
        padding: 10px;
        padding-top: 0;
      }
    }
  }
}

@import 'card.responsive';
