mixin footer(data)
  .pn2-footer.page__footer
    footer#footer.footer(role='complementary')
      .container-fluid
        .row.justify-content-lg-between
          .col.col-auto
            .footer__logo
              span.logo
                img.logo__img(src='/public/style_images/pronovostroy/general/logo2.svg' alt='Pronovostroy')
          .col.hidden-sm-down
            nav.footer__nav.row
              .col.hidden-sm-down._forums
                b.footer__title.title &Fcy;&ocy;&rcy;&ucy;&mcy;&ycy; &ncy;&ocy;&vcy;&ocy;&scy;&tcy;&rcy;&ocy;&iecy;&kcy;
                ul.nav.flex-column
                  li.nav-item
                    a.nav-link(href='/novostroyki/moskva/' title='Новостройки Москвы') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&rcy;&ocy;&jcy;&kcy;&icy; &Mcy;&ocy;&scy;&kcy;&vcy;&ycy;
                  li.nav-item
                    a.nav-link(href='/novostroyki/novaya-moskva/' title='Новостройки Новой Москвы') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&rcy;&ocy;&jcy;&kcy;&icy; &Ncy;&ocy;&vcy;&ocy;&jcy; &Mcy;&ocy;&scy;&kcy;&vcy;&ycy;
                  li.nav-item
                    a.nav-link(href='/novostroyki/moskovskaya-oblast/' title='Новостройки Подмосковья') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&rcy;&ocy;&jcy;&kcy;&icy; &Pcy;&ocy;&dcy;&mcy;&ocy;&scy;&kcy;&ocy;&vcy;&softcy;&yacy;
                  li.nav-item
                    a.nav-link(href='/novostroyki/sankt-peterburg/' title='Новостройки Санкт-Петербурга') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&rcy;&ocy;&jcy;&kcy;&icy; &Scy;&acy;&ncy;&kcy;&tcy;-&Pcy;&iecy;&tcy;&iecy;&rcy;&bcy;&ucy;&rcy;&gcy;&acy;
              .col._main_nav.hidden-md-down
                b.footer__title.title &Rcy;&acy;&bcy;&ocy;&tcy;&acy; &scy; &scy;&acy;&jcy;&tcy;&ocy;&mcy;
                ul.nav.flex-column
                  li.nav-item.hidden-md-up
                    a.nav-link(href='/novostroyki/' title='Новостройки') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&rcy;&ocy;&jcy;&kcy;&icy;
                  li.nav-item.hidden-md-up
                    a.nav-link(href='/company/' title='Застройщики') &Zcy;&acy;&scy;&tcy;&rcy;&ocy;&jcy;&shchcy;&icy;&kcy;&icy;
                  // noindex
                  li.nav-item
                    a.nav-link(href='/forum/6196-%D0%B2%D0%BE%D0%BF%D1%80%D0%BE%D1%81%D1%8B-%D0%B8-%D0%BF%D1%80%D0%B5%D0%B4%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F/' rel='nofollow' title='Вопросы и предложения')
                      | &Vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy; 
                      span.hidden-sm-down &icy; &pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy;
                  // /noindex
                  // noindex
                  li.nav-item
                    a.nav-link(href='/forum/6197-%D0%BE%D0%B1%D1%81%D1%83%D0%B6%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B-%D1%84%D0%BE%D1%80%D1%83%D0%BC%D0%B0/' rel='nofollow' title='Обсуждение работы форума')
                      | &Ocy;&bcy;&scy;&ucy;&zhcy;&dcy;&iecy;&ncy;&icy;&iecy; 
                      span.hidden-sm-down &rcy;&acy;&bcy;&ocy;&tcy;&ycy; &fcy;&ocy;&rcy;&ucy;&mcy;&acy;
                  // /noindex
                  li.nav-item
                    a.nav-link(href='/forum/6418-%D0%B0%D1%80%D1%85%D0%B8%D0%B2-%D1%84%D0%BE%D1%80%D1%83%D0%BC%D0%B0/' title='Архив форума') &Acy;&rcy;&khcy;&icy;&vcy; &fcy;&ocy;&rcy;&ucy;&mcy;&acy;
                  li.nav-item
                    a.nav-link(href='/forum/6616-%D0%BE%D0%BF%D1%80%D0%BE%D1%81%D1%8B-%D0%BD%D0%B0-%D1%84%D0%BE%D1%80%D1%83%D0%BC%D0%B5/' title='Опросы на форуме') &Ocy;&pcy;&rcy;&ocy;&scy;&ycy; &ncy;&acy; &fcy;&ocy;&rcy;&ucy;&mcy;&iecy;
                  li.nav-item
                    a.nav-link(href='/company/hotline/' title='Горячая линия') &Gcy;&ocy;&rcy;&yacy;&chcy;&acy;&yacy; &lcy;&icy;&ncy;&icy;&yacy;
                  li.nav-item
                    a.nav-link(href='/news/' title='Горячая линия') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
          .col.col-sm-auto.pn2-footer__menu-sm-down
            .row
              .col.col-auto._about
                // noindex
                nav.footer__nav
                  b.footer__title.title &Ocy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&iecy;
                  ul.nav.flex-column
                    li.nav-item.hidden-sm-down
                      a.nav-link(href='/index.php?app=core&module=help' rel='nofollow' title='Помощь') &Pcy;&ocy;&mcy;&ocy;&shchcy;&softcy;
                    li.nav-item
                      a.nav-link(href='/pages/about' rel='nofollow' title='О проекте') &Ocy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&iecy;
                    li.nav-item.hidden-sm-down
                      a.nav-link(href='/pages/advertising' rel='nofollow' title='Реклама на сайте') &Rcy;&iecy;&kcy;&lcy;&acy;&mcy;&acy; &ncy;&acy; &scy;&acy;&jcy;&tcy;&iecy;
                    li.nav-item
                      a.nav-link(href='/contactus/' rel='nofollow' title='Контакты') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
                    li.nav-item
                      a.nav-link(href='/index.php?app=forums&module=extras&section=boardrules' rel='nofollow' title='Правила форума') &Pcy;&rcy;&acy;&vcy;&icy;&lcy;&acy; &fcy;&ocy;&rcy;&ucy;&mcy;&acy;
                // /noindex
              .col.col-auto._social
                .footer__social
                  b.footer__title.title &Mcy;&ycy; &vcy; &scy;&ocy;&tscy;&scy;&iecy;&tcy;&yacy;&khcy;
                  nav.nav.social
                    a.nav-link.social__link.vkontakte(href='https://vk.com/pronovostroy' target='_blank' title='ВКонтакте')
                      svg.icon.icon-vkontakte(width='25' height='25')
                        use(xlink:href='#vkontakte')
                    a.nav-link.social__link.facebook(href='https://www.facebook.com/pronovostroy.ru/' target='_blank' title='Facebook')
                      svg.icon.icon-facebook(width='25' height='25')
                        use(xlink:href='#facebook')
                    a.nav-link.social__link.instagram(href='https://www.instagram.com/pronovostroyru/' target='_blank' title='Instagram')
                      svg.icon.icon-instagram(width='25' height='25')
                        use(xlink:href='#instagram')
                    a.nav-link.social__link.youtube(href='https://www.youtube.com/channel/UCKmyhnifTHS1ECl9VTgJH-w' target='_blank' title='YouTube Москва')
                      svg.icon.icon-youtube-play(width='25' height='25')
                        use(xlink:href='#youtube-play')
                    a.nav-link.social__link.youtube(href='https://www.youtube.com/channel/UCEMlVbC9DY2aco1hTnVyMrg' target='_blank' title='YouTube Санкт-Петербург')
                      svg.icon.icon-youtube-play(width='25' height='25')
                        use(xlink:href='#youtube-play')
                // <div class="footer__region ">
                // <b class="footer__title title">Регион</b>
                // <div class="_fast-links __region-selector">
                // <a href="#" class="__region-selector__current collapser" data-toggle="collapse"
                // aria-expanded="true">
                // <i class="svg-i">
                // <svg>
                // <use xlink:href="#pn2__icon&#45;&#45;location"></use>
                // </svg>
                // </i>
                // <span>Москва и Подмосковье</span></a>
                // <ul class="collapse">
                // <li class="hidden"><a href="#">Москва и Подмосковье</a></li>
                // <li><a href="#">Санкт-Петербург и область</a></li>
                // <li><a href="#">Новосибирск и область</a></li>
                // <li><a href="#">Ростов-на-дону и область</a></li>
                // </ul>
                // </div>
                // </div>
                .counter
                  .counter__item
                    // LiveInternet counter
                    script(type='text/javascript').
                      <!--
                      document.write("<a href='//www.liveinternet.ru/click;pronovostroy' "+
                      "target=_blank><img src='//counter.yadro.ru/hit;pronovostroy?t18.4;r"+
                      escape(document.referrer)+((typeof(screen)=="undefined")?"":
                      ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                      screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                      ";"+Math.random()+
                      "' alt='' title='LiveInternet: показано число просмотров за 24"+
                      " часа, посетителей за 24 часа и за сегодня' "+
                      "border='0' width='88' height='31'><\\/a>")
                      //-->
                    a(href='//www.liveinternet.ru/click;pronovostroy' target='_blank')
                      img(src='//counter.yadro.ru/hit;pronovostroy?t18.4;r;s1440*900*24;uhttps%3A//rm-ftp.develop.inpositivus.ru/listing/;0.5513373099002965' alt='' title='LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня' border='0' width='88' height='31')
                    // /LiveInternet
                    // Yandex.Metrika counter
                    script(type='text/javascript').
                      (function (d, w, c) {
                      (w[c] = w[c] || []).push(function() {
                      try {
                      w.yaCounter26037597 = new Ya.Metrika({id:26037597,
                      webvisor:true,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true});
                      } catch(e) { }
                      });
                      var n = d.getElementsByTagName("script")[0],
                      s = d.createElement("script"),
                      f = function () { n.parentNode.insertBefore(s, n); };
                      s.type = "text/javascript";
                      s.async = true;
                      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
                      if (w.opera == "[object Opera]") {
                      d.addEventListener("DOMContentLoaded", f, false);
                      } else { f(); }
                      })(document, window, "yandex_metrika_callbacks");
                    noscript
                      div
                        img(src='//mc.yandex.ru/watch/26037597' style='position:absolute; left:-9999px;' alt='')
                    // /Yandex.Metrika counter
                    script.
                      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                      ga('create', 'UA-96257328-1', 'auto');
                      ga('send', 'pageview');
                ul
                  li
                    a#new_skin(rel='nofollow' href='#') &Icy;&zcy;&mcy;&iecy;&ncy;&icy;&tcy;&softcy; &scy;&tcy;&icy;&lcy;&softcy;
                    ul#new_skin_menucontent.ipbmenu_content.with_checks(style='display: none; position: absolute; z-index: 9999;')
                      li(style='z-index: 10000;')
                        a(href='#' data-clicklaunch='changeSkin' data-skinid='20' style='z-index: 10000;') Pronovostroy v1.0
                      li.selected(style='z-index: 10000;')
                        a(href='#' data-clicklaunch='changeSkin' data-skinid='22' style='z-index: 10000;') Pronovostroy 2.0
