.n-card-list{
  $_: '.n-card-list';
  flex: 0 0 100%;
  width: 100%;
  // margin-bottom: 40px;
  &__item{
    display: flex;
    justify-content: center;
    min-height: 100%;
    box-sizing: border-box;
    width: 100%;
    &:last-child,
    &--last{
      margin-bottom: 0;
      
    }
  }
  &__row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    width: calc(100% + 16px);
    &--footer{
      #{$_}__col{
        padding-bottom: 0;
      }
    }
  }
  &__col{
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 20px;
    flex: 0 0 100%;
    width: 100%;
    box-sizing: border-box;
  }
  &__footer{
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: -8px;
      right: -8px;
      display: block;
      height: 1px;
      width: calc(100% + 16px);
      background: $gray-500;
    }
  }
  &__text{
    color: $secondary;
    font-size: 15px;
    font-weight: $font-weight-normal;
    line-height: 1.35;
    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__link{
    &--readmore{
      font-style: italic;
    }
    &--add-more{
      font-size: 15px;
      font-weight: $font-weight-normal;
      line-height: 1.35;
    }
  }
  &__map{
    height: 100%;
    width: 100%;
    background: $white;
  }
  &--map-search{
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
    height: calc(100vh - 108px);
    width: calc(100% + 30px);
  }
  &--empty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    text-align: center;
    min-height: 100vh;
    #{$_}__body{
      max-width: 360px;
    }
    #{$_}__media{
      margin: 0 auto 32px;
      max-width: 73px;
    }
    #{$_}__img{
      display: block;
      max-width: 100%;
    }
    #{$_}__title{
      display: block;
      margin-bottom: 12px;
      font-size: 27px;
      line-height: 1.2;
    }
    #{$_}__text{
      font-size: 15px;
    }
  }
}

@import 'card-list.responsive';
