.n-card-list{
  $_: '.n-card-list';
  @include media-breakpoint-up(sm) {
    &--map-search{
      margin-left: -2rem;
      margin-right: -2rem;
      width: calc(100% + 4rem);
    }
  }
  @include media-breakpoint-up(md) {
    &__col{
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  @include media-breakpoint-up(lg) {
    &__col{
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
    &__action{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &__footer{
      position: relative;
      margin-top: 40px;
      margin-bottom: 40px;
      padding-top: 40px;
      &:first-child,
      &--first{
        margin-top: 20px;
      }
      &::before{
        top: 0;
        left: 0;
        right: 0;
      }
    }
    &--map{
      #{$_}__col{
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    &--map-search{
      margin-left: 0;
      margin-right: 0;
      height: calc(100vh - 40px);
      width: 100%;
      &.is-sticky{
        position: sticky;
        left: 0;
        top: 20px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__row{
      margin-left: -10px;
      margin-right: -10px;
      width: calc(100% + 20px);
    }
    &__col{
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
      flex: 0 0 25%;
      max-width: 25%;
    }
    &--map{
      #{$_}__col{
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}
