.n-icon {
  $_: '.n-icon';
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  &--left{
      transform: rotate(0);
  }
  &--top{
      transform: rotate(90deg);
  }
  &--right{
      transform: rotate(180deg);
  }
  &--bottom{
      transform: rotate(270deg);
  }
  &--close{
    transform: rotate(45deg);
  }
}
