.n-messages{
  $_: '.n-messages';
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: $info;
  &__media{
    position: relative;
    font-size: 24px;
  }
  &__icon{
    & > .n-icon{
      display: block;
    }
    & + #{$_}__text{
      margin-left: 4px;
    }
  }
  &__text{
    font-size: 14px;
    font-weight: $font-weight-medium;
    line-height: 1.25;
  }
  &--empty{
    color: $secondary;
  }
  &--add-new{
    #{$_}__icon{
      & ~ #{$_}__icon{
        pointer-events: none;
        user-select: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        animation: add-new 1.2s ease infinite;
        opacity: 0;
        visibility: hidden;
      }
      &:nth-child(2){
        animation-delay: 0.2s;
      }
      &:nth-child(3){
        animation-delay: 0.5s;
      }
    }
  }
}
@keyframes add-new {
  0%{
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0%) scale(1, 1);
  }
  100%{
    opacity: 0;
    transform: translate(0, -200%) scale(.8, .8);
  }
}
@import '_messages.responsive';
