.n-nav{
  $_: '.n-nav';
  @include media-breakpoint-up(md) {
    &--search{
      #{$_}__list{
        margin: 0;
        height: $input-height;
      }
      #{$_}__item{
        flex: 0 0 auto;
        padding: 0;
        margin-right: 8px;
        width: auto;
        &:last-child,
        &--last{
          margin-right: 0;
        }
      }
      #{$_}__link{
        border-color: transparent;
        padding: 0;
        line-height: 1.25;
        height: auto;
      }
    }
  }
}
