.n-nav{
  $_: '.n-nav';
  &__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }
  &__item{
    position: relative;
  }
  &__link{
    text-decoration: none;
    &:hover,
    &:focus{
      text-decoration: none;
    }
  }
  &--header{
    display: flex;
    #{$_}__list{
      padding: 0;
      margin: 0;
      list-style: none;
    }
    #{$_}__item{
      position: relative;
      display: flex;
      margin-right: 30px;
      &:last-child{
        margin-right: 0;
      }
      &::before{
        pointer-events: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        display: block;
        height: 3px;
        width: 100%;
        opacity: 0;
        background-color: $purple-light;
        transition: $transition-base;
      }
      &:hover,
      &:focus{
        &::before{
          background-color: $orange;
          opacity: 1;
        }
      }
      &.is-active{
        &::before {
          opacity: 1;
        }
      }
    }
    #{$_}__link{
      display: flex;
      align-items: center;
      justify-content: center;
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
    }
    #{$_}__badge{
      display: inline-flex;
      border-radius: 10px;
      padding: 2px 6px;
      margin-top: -6px;
      margin-left: 8px;
      font-size: 10px;
      font-weight: $font-weight-medium;
      line-height: 1.2;
      background-color: $accent;
    }
  }
  &--sort{
    font-size: 14px;
    font-weight: $font-weight-normal;
    #{$_}__content{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    #{$_}__title{
      display: block;
      margin-right: 12px;
      line-height: 1.71;
    }
    #{$_}__list{
      display: flex;
      flex-wrap: wrap;
    }
    #{$_}__item{
      margin-right: 12px;
      &:last-child{
        margin-right: 0;
      }
    }
    #{$_}__link{
      color: $gray-500;
      text-decoration: none;
      &--up{
        @include caret(up);
        &::after{
          margin-left: 8px;
        }
      }
      &--down{
        @include caret;
        &::after{
          margin-left: 8px;
        }
      }

      &:hover,
      &:focus{
        color: $accent;
      }
      &.is-active{
        color: $body-color;
      }
    }
  }
  &--pagination{
    #{$_}__list{
      display: flex;
      @include list-unstyled();
      @include border-radius();
    }
    #{$_}__item{
      &:first-child,
      &--first{
        #{$_}__link{
          margin-left: 0;
          @include border-left-radius($border-radius);
        }
      }
      &:last-child,
      &--last{
        #{$_}__link{
          @include border-right-radius($border-radius);
        }
      }
      &.is-active{
        #{$_}__link{
          z-index: 1;
          color: $pagination-active-color;
          background-color: $pagination-active-bg;
          border-color: $pagination-active-border-color;
        }
      }
      &.is-disabled{
        #{$_}__link{
          color: $pagination-disabled-color;
          pointer-events: none;
          // Opinionated: remove the "hand" cursor set previously for .page-link
          cursor: auto;
          background-color: $pagination-disabled-bg;
          border-color: $pagination-disabled-border-color;
        }
      }
    }
    #{$_}__link{
      position: relative;
      display: block;
      border: $pagination-border-width solid $pagination-border-color;
      padding: $pagination-padding-y $pagination-padding-x;
      margin-left: -$pagination-border-width;
      text-align: center;
      font-size: 15px;
      font-weight: $font-weight-normal;
      line-height: $pagination-line-height;
      color: $pagination-color;
      min-width: 40px;
      min-height: 40px;
      background-color: $pagination-bg;
      box-sizing: border-box;
      &:hover {
        z-index: 2;
        color: $pagination-hover-color;
        text-decoration: none;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border-color;
      }
      &:focus {
        z-index: 2;
        outline: $pagination-focus-outline;
        box-shadow: $pagination-focus-box-shadow;
      }

      // Opinionated: add "hand" cursor to non-disabled .page-link elements
      &:not(:disabled):not(.disabled) {
        cursor: pointer;
      }
      &--prev,
      &--next{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
      }
    }
  }
  &--search{
    #{$_}__list{
      display: flex;
      flex-wrap: nowrap;
      margin-left: -2px;
      margin-right: -2px;
      align-items: center;
      &:first-child,
      &--first{
        margin-top: -2px;
      }
      &:last-child,
      &--last{

      }
    }
    #{$_}__item{
      padding: 2px;
      flex-basis: 0;
      flex-grow: 2;
      width: 100%;
      box-sizing: border-box;
    }
    #{$_}__link{
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      width: 100%;
      height: $input-height;
      padding: $input-padding-y 10px;
      font-size: $input-font-size;
      font-weight: $input-font-weight;
      line-height: $input-line-height;
      color: $link-color;
      background-color: $input-bg;
      background-clip: padding-box;
      border: $input-border-width solid $input-border-color;
      border-radius: $input-border-radius;
      &:hover{
        color: $accent;
      }
    }
    #{$_}__badge{
      display: inline-flex;
      border-radius: 10px;
      padding: 2px 5px;
      margin-right: 8px;
      text-align: center;
      color: $white;
      font-size: 10px;
      font-weight: $font-weight-medium;
      line-height: 1.2;
      min-width: 16px;
      background-color: $accent;
    }
    #{$_}__text{}
  }
}

@import '_nav.responsive';
