mixin header(data)
  header.pn2-header.sticky-top-sm-down.__unknown_user
    .top-line.primary-bg
      .container-fluid
        .row.justify-content-between
          .col._logo-col.hidden-xs-down.col-auto
            a._logo(href='/')
              noscript
                img.logo__img(src='//test.pronovostroy.ru/public/style_images/pronovostroy/general/logo.png' alt='Форум о новостройках' title='Форум о новостройках')
          .col.col-auto.pn2-header__resp-nav.hidden-md-up
            a#mobileMainMenuBtn.nav-toggle.menu-button(href='#mobileMainMenu' role='button')
              svg.icon.icon-menu(width='27px' height='19px')
                use(xlink:href='#pn2__icon--open-thin')
            button.btn.search-btn.hidden-sm-up(data-show='mobile-search')
              svg.icon.icon-magnify(width='27px' height='27px')
                use(xlink:href='#pn2__icon--search')
          nav.col.col-auto.nav-col.hidden-sm-down
            ul
              li.current
                a(href='/' title='Новостройки') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&rcy;&ocy;&jcy;&kcy;&icy;
              li
                a(href='//pronovostroy.ru/forum/7309-%D0%B4%D0%BE%D0%BC-%D0%B8-%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B0/' title='Дома и дачи') &Dcy;&ocy;&mcy;&acy; &icy; &dcy;&acy;&chcy;&icy;
              li
                a(href='/news/' title='Журнал') &ZHcy;&ucy;&rcy;&ncy;&acy;&lcy;
              li.disabled.hidden-lg-down
                a(href='/market/' title='Реомонт')
                  | &Rcy;&iecy;&mcy;&ocy;&ncy;&tcy; 
                  span.badge &Scy;&kcy;&ocy;&rcy;&ocy;
          .col._login-search-col.top-line__search-bar.hidden-xs-down
            ._login-search._search-top-box
              .input-group.pn2--input-group
                label.sr-only(for='inlineFormInputGroup') &Pcy;&ocy;&icy;&scy;&kcy;
                input#top-search.form-control(type='search' autocomplete='off' placeholder='Поиск' data-placeholder='Название ЖК, района или застройщика')
                .input-group-prepend
                  .input-group-text.i-search
                  i.svg-i
                    svg.icon.icon-close(width='25' height='25')
                      use(xlink:href='#close')
              // START поиск
              form#search_form(method='post' action='/novostroyki/')
                .global_search
                  select.form-control.select2-hidden-accessible(name='search_term' data-language='ru' tabindex='-1' aria-hidden='true')
                  span.select2.select2-container.select2-container--default(dir='ltr' style='width: 100px;')
                    span.selection
                      span.select2-selection.select2-selection--single(role='combobox' aria-haspopup='true' aria-expanded='false' tabindex='0' aria-labelledby='select2-search_term-ym-container')
                        span#select2-search_term-ym-container.select2-selection__rendered
                          span.select2-selection__placeholder
                        span.select2-selection__arrow(role='presentation')
                          b(role='presentation')
                    span.dropdown-wrapper(aria-hidden='true')
                  // <button class="btn" type="submit"></button>
              // END поиск
          .col.col-auto._login-search-col.top-line__user-bar
            ._login-search
              .user-bar.d-flex.flex-wrap
                a#sign_in_new.sign_in_new.btn.btn-outline-white(href='#' rel='nofollow') &Vcy;&khcy;&ocy;&dcy;
    .top-line--sub-menu.hidden-sm-down
      .container-fluid
        ul.top-line--sub-menu__list.nav-drop
          li
            a(href='/novostroyki/' title='Каталог новостроек') &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy; &ncy;&ocy;&vcy;&ocy;&scy;&tcy;&rcy;&ocy;&iecy;&kcy;
          li
            a(href='/company/' title='Застройщики') &Zcy;&acy;&scy;&tcy;&rcy;&ocy;&jcy;&shchcy;&icy;&kcy;&icy;
          li(style='display: inline-block;')
            a(href='/company/hotline/' title='Горячая линия') &Gcy;&ocy;&rcy;&yacy;&chcy;&acy;&yacy; &lcy;&icy;&ncy;&icy;&yacy;
          li(style='display: inline-block;')
            a(href='/yuridicheskaya-konsultatsiya/' title='Юридическая консультация') &YUcy;&rcy;&icy;&dcy;&icy;&chcy;&iecy;&scy;&kcy;&acy;&yacy; &kcy;&ocy;&ncy;&scy;&ucy;&lcy;&softcy;&tcy;&acy;&tscy;&icy;&yacy;
          li(style='display: inline-block;')
            a(href='/novostroyki/video/' title='Видео объектов') &Vcy;&icy;&dcy;&iecy;&ocy; &ocy;&bcy;&hardcy;&iecy;&kcy;&tcy;&ocy;&vcy;
          li.dropdown--more.dropdown.pn2--dropdown(style='display: none;')
            a(href='#' data-toggle='dropdown' data-flip='false' data-offset='35px, 4px')
              span &IEcy;&shchcy;&iecy;
              i.svg-i
                svg(width='10px' height='6px')
                  use(xlink:href='#pn2__icon--menu-arrow')
            .dropdown-menu.dropdown-menu-right
              ul.nav.flex-column
    // START PN2 mobile menu
    #mobileMainMenu.pn2-header__mobile-nav.hidden-md-up
      .pn2-header__mobile-nav__container
        .pn2-header__mobile-nav__container__col
          .pn2-header__mobile-nav__container__logo
            a(href='/')
              svg.mobile_logo
                use(xlink:href='/public/tpl-pn2/images/svg/sprites/symbol/svg/sprite.symbol.svg#pn2_mobilelogo')
              noscript
                img.logo__img(src='/public/tpl-pn2/images/svg/pn2_mobilelogo.svg' alt='Форум о новостройках')
            a#mobileMainMenuCloseBtn._close(href='#' title='Закрыть' data-toggle='close')
              svg(width='24px' height='24px')
                use(xlink:href='#pn2__icon--close-thin')
          .pn2-header__mobile-nav__container__navs
            ul._menu
              li
                a.collapser.uncollapsed(href='/')
                  | &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&rcy;&ocy;&jcy;&kcy;&icy; 
                  span._menu__arrow
                ul.collapse.show
                  li._menu__current
                    a(href='/novostroyki/') &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy; &ncy;&ocy;&vcy;&ocy;&scy;&tcy;&rcy;&ocy;&iecy;&kcy;
                  li
                    a(href='/company/' title='Застройщики') &Zcy;&acy;&scy;&tcy;&rcy;&ocy;&jcy;&shchcy;&icy;&kcy;&icy;
                  li
                    a(href='/company/hotline/' title='Горячая линия') &Gcy;&ocy;&rcy;&yacy;&chcy;&acy;&yacy; &lcy;&icy;&ncy;&icy;&yacy;
                  li
                    a(href='/yuridicheskaya-konsultatsiya/' title='Юридическая консультация') &YUcy;&rcy;&icy;&dcy;&icy;&chcy;&iecy;&scy;&kcy;&acy;&yacy; &kcy;&ocy;&ncy;&scy;&ucy;&lcy;&softcy;&tcy;&acy;&tscy;&icy;&yacy;
                  li
                    a(href='/novostroyki/video/' title='Видео объектов') &Vcy;&icy;&dcy;&iecy;&ocy; &ocy;&bcy;&hardcy;&iecy;&kcy;&tcy;&ocy;&vcy;
              li
                a(href='//pronovostroy.ru/forum/7309-%D0%B4%D0%BE%D0%BC-%D0%B8-%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B0/') &Dcy;&ocy;&mcy;&acy; &icy; &dcy;&acy;&chcy;&icy;
              li
                a(href='/news/' title='Журнал') &ZHcy;&ucy;&rcy;&ncy;&acy;&lcy;
              li
                a.collapser.disabled(href='/market/')
                  | &Rcy;&iecy;&mcy;&ocy;&ncy;&tcy; 
                  span.badge &Scy;&kcy;&ocy;&rcy;&ocy;
                  span._menu__arrow
                ul.collapse
                  li
                    a(href='/market/orders/') &Zcy;&acy;&kcy;&acy;&zcy;&ycy;
                  li
                    a(href='/market/performers/') &Icy;&scy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy;&iecy;&lcy;&icy;
                  li
                    a(href='/market/how-to/') &Kcy;&acy;&kcy; &ecy;&tcy;&ocy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&iecy;&tcy;?
        .pn2-header__mobile-nav__container__footer
          .row
            .col.col-auto._social
              // <div class="footer__region ">
              // <div class="_fast-links __region-selector">
              // <a href="#" class="__region-selector__current collapser" data-toggle="collapse"
              // aria-expanded="true">
              // <i class="svg-i">
              // <svg>
              // <use xlink:href="#pn2__icon&#45;&#45;location"></use>
              // </svg>
              // </i>
              // <span>Москва и Подмосковье</span></a>
              // <ul class="collapse">
              // <li class="hidden"><a href="#">Москва и Подмосковье</a></li>
              // <li><a href="#">Санкт-Петербург и область</a></li>
              // <li><a href="#">Новосибирск и область</a></li>
              // <li><a href="#">Ростов-на-дону и область</a></li>
              // </ul>
              // </div>
              // </div>
              .footer__social
                nav.nav.social
                  a.nav-link.social__link.vkontakte(href='https://vk.com/pronovostroy' target='_blank' title='ВКонтакте')
                    svg.icon.icon-vkontakte(width='25' height='25')
                      use(xlink:href='#vkontakte')
                  a.nav-link.social__link.facebook(href='https://www.facebook.com/pronovostroy.ru/' target='_blank' title='Facebook')
                    svg.icon.icon-facebook(width='25' height='25')
                      use(xlink:href='#facebook')
                  a.nav-link.social__link.instagram(href='https://www.instagram.com/pronovostroyru/' target='_blank' title='Instagram')
                    svg.icon.icon-instagram(width='25' height='25')
                      use(xlink:href='#instagram')
                  a.nav-link.social__link.youtube(href='https://www.youtube.com/channel/UCKmyhnifTHS1ECl9VTgJH-w' target='_blank' title='YouTube Москва')
                    svg.icon.icon-youtube-play(width='25' height='25')
                      use(xlink:href='#youtube-play')
                  a.nav-link.social__link.youtube(href='https://www.youtube.com/channel/UCEMlVbC9DY2aco1hTnVyMrg' target='_blank' title='YouTube Санкт-Петербург')
                    svg.icon.icon-youtube-play(width='25' height='25')
                      use(xlink:href='#youtube-play')
    // END PN2 mobile menu
    .modal-backdrop.modal-backdrop--search.fade
