.n-form{
  $_: '.n-form';
  @include media-breakpoint-down(lg) {
    &__dropdown{
      &--selected{
        position: static;
        display: block;
        margin-top: 0;
        visibility: visible;
        opacity: 1;
        padding: 0;
        border: 0;
        height: auto;
        max-height: none;
        overflow: hidden;
        width: 100%;
        #{$_}__dropdown{
          &-header,
          &-body{
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    &__search{
      margin-bottom: 0;
      min-width: 400px;
      #{$_}__wrapper{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 0;
        border: $input-border-width solid $input-border-color;
        border-radius: $input-border-radius;
      }
      #{$_}__control{
        margin-bottom: 0;
        border: 0;
        box-shadow: none !important;
        height: $input-height-inner;
        flex: 1 1 auto;
        width: 1%;
        &:focus,
        &:hover{
          background: $input-bg;
        }
      }
      #{$_}__nav{
        display: flex;
        padding-right: 16px;
        box-sizing: border-box;
      }
    }
  }
}
