.n-form{
  $_: '.n-form';
  &__group{
    margin-bottom: $form-group-margin-bottom;
    &:last-child,
    &--last{
      margin-bottom: 0;
    }
    &--selector{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      & > #{$_}__selector{
        position: relative;
        display: flex;
        flex-grow: 2;
        z-index: 2;
        &:focus {
          z-index: 3;
        }
        & ~ #{$_}__selector{
          margin-left: -$input-border-width;
        }
        &:not(:first-child){
          #{$_}__selector-label{
            @include border-left-radius(0);
          }
        }
        &:not(:last-child){
          #{$_}__selector-label{
            @include border-right-radius(0);
          }
        }
      }
    }
    &--from-to{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      #{$_}__label,
      #{$_}__btn{
        position: absolute;
        top: $input-padding-y + $input-border-width;
      }
      #{$_}__label{
        left: 16px;
        display: block;
        margin-bottom: 0;
        text-align: right;
        color: $input-placeholder-color;
        font-size: $input-font-size;
        line-height: $input-line-height;
        font-weight: $font-weight-normal;
        width: 15px;
        &--after{
          left: auto;
          right: 16px;
          text-align: left;
        }
      }
      #{$_}__wrapper{
        position: relative;
        flex: 0 0 50%;
        max-width: 50%;
        &:first-child{
          #{$_}__control{
            border-right: 0;
            @include border-right-radius(0);
          }
          #{$_}__btn{
            right: 16px;
          }
        }
        &:last-child{
          &::before{
            content: '';
            display: block;
            position: absolute;
            top: $input-padding-y + $input-border-width;
            left: -$input-border-width;
            height: calc(100% - 2 * (#{$input-padding-y + $input-border-width}));
            width: $input-border-width;
            background: $input-border-color;
          }
          #{$_}__control{
            border-left: 0;
            @include border-left-radius(0);
          }
        }
      }
      #{$_}__btn{
        display: none;
        top: 50%;
        left: auto;
        right: 16px;
        transform: translate(0, -50%);
        padding: 0;
        font-size: 16px;
        color: $input-placeholder-color;
        height: 1em;
        width: 1em;
        background-color: transparent !important;
        &:hover,
        &:focus{
          color: $input-focus-color;
          box-shadow: none !important;

        }
        & > .n-icon, & > .icon{
          display: block;
        }
      }
      #{$_}__control{
        padding-left: 36px;
        padding-right: 32px;
        &--no-empty,
        &:focus{
          box-shadow: none !important;
          & ~ #{$_}__label{
            color: $input-focus-color;
          }
        }
        &--no-empty{
          & ~ #{$_}__btn{
            display: block;
          }
        }
      }
    }
    &--square{
      #{$_}__wrapper{
        &:first-child{
          #{$_}__control{
            padding-right: 32px;
          }
          #{$_}__btn{
            right: 16px;
          }
        }
        &:last-child{
          #{$_}__control{
            padding-right: 54px;
          }
          #{$_}__btn{
            right: 40px;
          }
        }
      }
    }
    &--price{
      #{$_}__wrapper{
        &:first-child{
          #{$_}__control{
            padding-right: 32px;
            &--no-empty,
            &:focus{
              & ~ #{$_}__label{
                opacity: 1;
                &--placeholder{
                  opacity: 0;
                }
              }
            }
          }
          #{$_}__btn{
            right: 16px;
          }
          #{$_}__label{
            opacity: 0;
            &--placeholder{
              opacity: 1;
              width: 52px;
            }
          }
        }
        &:last-child{
          #{$_}__control{
            padding-right: 54px;
          }
          #{$_}__btn{
            right: 40px;
          }
        }
      }
    }
  }
  &__control{
    display: block;
    width: 100%;
    height: $input-height;
    padding: $input-padding-y $input-padding-x;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    color: $input-color;
    background-color: $input-bg;
    background-clip: padding-box;
    border: $input-border-width solid $input-border-color;
    border-radius: $input-border-radius;
  
    @include box-shadow($input-box-shadow);
    @include transition($input-transition);
  
    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
      background-color: transparent;
      border: 0;
    }
  
    // Customize the `:focus` state to imitate native WebKit styles.
    @include form-control-focus();
  
    // Placeholder
    &::placeholder {
      color: $input-placeholder-color;
      // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
      opacity: 1;
    }
  
    // Disabled and read-only inputs
    //
    // HTML5 says that controls under a fieldset > legend:first-child won't be
    // disabled if the fieldset is disabled. Due to implementation difficulty, we
    // don't honor that edge case; we style them as disabled anyway.
    &:disabled,
    &[readonly] {
      background-color: $input-disabled-bg;
      // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
      opacity: 1;
    }
  }
  &__check{
    position: relative;
    display: block;
    padding-left: $form-check-input-gutter;
    &-input{
      position: absolute;
      z-index: -1; // Put the input behind the label so it doesn't overlay text
      opacity: 0;

      &:checked ~ #{$_}__check-label {
        outline: 0;
        &::after{
          opacity: 1;
        }
      }
    
      &:focus ~  #{$_}__check-label {
        &::before{
          background: $input-focus-bg;
        }
      }
    
      &:disabled {
        ~  #{$_}__check-label {
          &::before{
            background-color: $input-disabled-bg;
          }
          &::after{
            background: svg-load('../../../static/img/svg/n-check.svg', fill=$secondary) no-repeat center center;
          }
        // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
        opacity: 1;
        }
      }
    }
    &-label{
      margin-bottom: 0; // Override default `<label>` bottom margin
      line-height: 20px;
      &::before,
      &::after{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: '';
        height: 20px;
        width: 20px;
      }
      &::before{
        border-radius: $input-border-radius;
        border: $input-border-width solid $input-border-color;
        background: $input-bg;
      }
      &::after{
        background: svg-load('../../../static/img/svg/n-check.svg', fill=$info) no-repeat center center;
        background-size: 16px 16px;
        opacity: 0;
      }
    }
  }
  &__text{
    margin-top: $form-text-margin-top;
    &--plain{
      margin-top: 0;
      width: 100%;
      padding-top: $input-padding-y;
      padding-bottom: $input-padding-y;
      margin-bottom: 0; // match inputs if this class comes on inputs with default margins
      line-height: $input-line-height;
      color: $input-plaintext-color;
      background-color: transparent;
      border: solid transparent;
      border-width: $input-border-width 0;
    }
  }
  &__selector{
    &-input{
      position: absolute;
      z-index: -1; // Put the input behind the label so it doesn't overlay text
      opacity: 0;


      &:checked ~  #{$_}__selector-label {
        margin-bottom: 0;
        color: $white;
        border-color: $info;
        background-color: $info;
        outline: 0;
      }
    
      &:focus ~  #{$_}__selector-label {
        // box-shadow: $input-focus-box-shadow;
      }
    
      &:focus:not(:checked) ~  #{$_}__selector-label {
        border-color: $input-focus-border-color;
        color: $input-focus-color;
        background-color: $input-focus-bg;
        box-shadow: $input-focus-box-shadow;
      }
    
      &:not(:disabled):active ~  #{$_}__selector-label {

      }
    
      &:disabled {
        ~  #{$_}__selector-label {
        background-color: $input-disabled-bg;
        // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
        opacity: 1;
        }
      }
    }
    &-label{
      cursor: pointer;
      user-select: none;
      display: block;
      margin-bottom: 0;
      width: 100%;
      height: $input-height;
      padding: $input-padding-y $input-padding-x;
      font-size: $input-font-size;
      font-weight: $input-font-weight;
      line-height: $input-line-height;
      color: $input-color;
      background-color: $input-bg;
      background-clip: padding-box;
      border: $input-border-width solid $input-border-color;
      border-radius: $input-border-radius;

      @include hover {
        color: $link-hover-color;
        background-color: $input-focus-bg;
        
      }
    }
    &-text{
      overflow: hidden;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  &__search{
    position: relative;
    #{$_}__control{
      margin-bottom: 20px;
      caret-color: $info;
    }
  }
  &__switch{
    &-input{
      position: absolute;
      z-index: -1; // Put the input behind the label so it doesn't overlay text
      opacity: 0;

      &:checked ~ #{$_}__switch-label {
        outline: 0;
        &::before{
          transform: translate(100%, 0);
        }
        #{$_}__switch-icon{
          color: $input-placeholder-color;
          & + #{$_}__switch-icon{
            color: $white;
          }
        }
      }
    
      &:focus ~  #{$_}__switch-label {
        box-shadow: $input-focus-box-shadow;
      }
    
      &:focus:not(:checked) ~  #{$_}__switch-label {
        box-shadow: $input-focus-box-shadow;
      }
    
      &:disabled {
        ~  #{$_}__switch-label {
        background-color: $input-disabled-bg;
        // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
        opacity: 1;
        }
      }
    }
    &-label{
      position: relative;
      cursor: pointer;
      display: inline-flex;
      vertical-align: top;
      margin: 0;
      padding: 10px;
      border-radius: $input-height;
      border: $input-border-width solid $input-border-color;
      font-size: 18px;
      background: $input-bg;
      &::before{
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        display: block;
        border-radius: 34px;
        width: 34px;
        height: 34px;
        background: $primary;
        transition: transform .35s ease;
      }
    }
    &-icon{
      position: relative;
      display: block;
      color: $white;
      z-index: 100;
      transition: color .25s ease;
      & + #{$_}__switch-icon{
        color: $input-placeholder-color;
        margin-left: 16px;
      }
    }
  }
  &__dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: $border-radius;
    border: $border-width solid $border-color;
    margin-top: 4px;
    overflow: hidden;
    overflow-y: auto;
    max-height: 300px;
    background: $white;
    transform: translate(0, 10%);
    opacity: 0;
    visibility: visible;
    &.is-open{
      transform: translate(0, 0);
      opacity: 1;
      visibility: visible;
      z-index: 100;
    }
    &-header{
      position: sticky;
      top:0;
      left: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex-shrink: 0;
      flex-basis: 0;
      align-items: center;
      padding: 10px 16px;
      width: 100%;
      box-sizing: border-box;
      background: $white;
      z-index: 10;
    }
    &-body{
      flex: 1 1 auto;
      height: auto;
      padding: 0 16px;
      &:first-child,
      &--first{
        padding-top: 4px;
      }
      &::last-child,
      &--last{
        padding-bottom: 4px;
      }
    }
    &-title{
      display: block;
      font-size: 16px;
      font-weight: $font-weight-medium;
    }
    &-action{
      margin-left: auto;
    }
    &-btn{
      padding: 2px 0;
    }
  }
  &__list{
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 2px;
    background: $white;
    &-group{}
    &-item{
      position: relative;
      padding: 8px 16px;
      line-height: 1.1;
      &:hover,
      &:focus{
        background: lighten($primary, 50%);
      }
    }
    &-title{
      position: sticky;
      top: 0;
      left: 0;
      display: block;
      padding: 12px 16px;
      font-size: 17px;
      font-weight: $font-weight-normal;
      line-height: 1.25;
      width: 100%;
      background: $white;
      z-index: 10;
    }
    &-text{
      color: $secondary;
      font-size: 12px;
      font-weight: $font-weight-normal;
    }
    &-link{
      margin-right: 4px;
      font-size: 14px;
      font-weight: $font-weight-normal;
      &, 
      &:hover,
      &:focus{
        text-decoration: none;
      }
      &--title{
        &::before{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      &--block{
        display: block;
        margin-right: 0;
        margin-bottom: 1px;
        &:last-child,
        &--last{
          margin-bottom: 0;
        }
      }
    }
  }

}

select.n-form__control{
  &:focus::-ms-value {
    // Suppress the nested default white text on blue background highlight given to
    // the selected option text when the (still closed) <select> receives focus
    // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
    // match the appearance of the native widget.
    // See https://github.com/twbs/bootstrap/issues/19398.
    color: $input-color;
    background-color: $input-bg;
  }
  &[size],
  &[multiple] {
    height: auto;
  }
}

textarea.n-form__control{
  height: auto;
}

@import 'form.responsive';
