.n-user{
  $_: '.n-user';
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  &__list{
    &--media{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      #{$_}__item{
        &:not(:first-child){
          margin-left: -10px;
        }
      }
    }
    & + #{$_}__text{
      margin-left: 4px;
    }
  }
  &__media,
  &__img{
    position: relative;
    display: block;
    border-radius: 1em;
  }
  &__media{
    border: 2px solid $white;
    font-size: 24px;
    height: 1em;
    width: 1em;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      border-radius: .25em;
      height: .25em;
      width: .25em;
      background-color: $success;
      opacity: 0;
      transition: $transition-fade;
      z-index: 10;
    }
    & + #{$_}__text{
      margin-left: 4px;
    }
    &--online{
      &::before{
        opacity: 1;
      }
    }
  }
  &__img{
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    @include object-fit(cover, center top);
  }
  &__icon{
    display: block;
    color: $secondary;
    font-size: inherit;
    margin: -2px;
    & > .n-icon{
      display: block;
      
    }
  }
  &__text{
    font-size: 14px;
    font-weight: $font-weight-medium;
    line-height: 1.25;
  }
  &--empty{
    #{$_}__text{
      color: $secondary;
    }
  }
}

@import '_user.responsive';
