.n-breadcrumb{
  $_: '.n-breadcrumb';
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.25;
  background-color: $breadcrumb-bg;
  @include border-radius($breadcrumb-border-radius);
  .page__breadcrumb & {
    margin-bottom: 0;
    #{$_}__list{
      margin-bottom: 0;
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: $breadcrumb-padding-y $breadcrumb-padding-x;
    margin-bottom: $breadcrumb-margin-bottom;
  }
  &__item{
    // The separator between breadcrumbs (by default, a forward-slash: "/")
    & + #{$_}__item{
      padding-left: $breadcrumb-item-padding;
      &::before {
        display: inline-block; // Suppress underlining of the separator in modern browsers
        padding-right: $breadcrumb-item-padding;
        color: $breadcrumb-divider-color;
        content: $breadcrumb-divider;
      }
    }
    // IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
    // without `<ul>`s. The `::before` pseudo-element generates an element
    // *within* the .breadcrumb-item and thereby inherits the `text-decoration`.
    //
    // To trick IE into suppressing the underline, we give the pseudo-element an
    // underline and then immediately remove it.
    & + #{$_}__item:hover::before{
      text-decoration: underline;
    }
    // stylelint-disable-next-line no-duplicate-selectors
    & + #{$_}__item:hover::before{
      text-decoration: none;
    }
    &.is-active{
      color: $breadcrumb-active-color;
      #{$_}__link{
        color: inherit;
      }
    }
  }
  &__link{

  }
}

@import '_breadcrumb.responsive';
