.n-btn{
  $_: '.n-btn';
  display: inline-block;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;


  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  @include button-size($btn-padding-y, $btn-padding-x, 14px, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  @include hover {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.is-focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.is-disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.is-disabled):active,
  &:not(:disabled):not(.is-disabled).is-active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
  &__icon{
    vertical-align: middle;
    font-size: 24px;
    &--left{
      margin-right: 8px;
    }
    &--chevron{
      font-size: 16px;
      transform: rotate(-90deg);
    }
  }
  &__text{
    display: inline-block;
    vertical-align: top;
    &--truncate{
      max-width: 100%;
    }
  }
  &__badge{
    display: inline-flex;
    vertical-align: middle;
    border-radius: 10px;
    padding: 2px 5px;
    margin-left: 8px;
    text-align: center;
    color: $white;
    font-size: 10px;
    font-weight: $font-weight-medium;
    line-height: 1.2;
    min-width: 16px;
    background-color: $accent;
  }

  //
  // Alternate buttons
  //

  @each $color, $value in $theme-colors {
    &--#{$color} {
      @include button-variant($value, $value);
      #{$_}__badge{
        color: $value;
        background: $white;
      }
    }
  }

  @each $color, $value in $theme-colors {
    &--outline-#{$color} {
      @include button-outline-variant($value);
      #{$_}__badge{
        color: $value;
        background: $white;
      }
    }
  }

  &--link{
    font-weight: $font-weight-normal;
    color: $link-color;

    @include hover {
      color: $link-hover-color;
    }

    &:focus,
    &.is-focus {
      box-shadow: none;
    }

    &:disabled,
    &.is-disabled {
      color: $btn-link-disabled-color;
      pointer-events: none;
    }
  }

  &--lg{
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
  }

  &--sm{
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
  }

  &--block{
    display: block;
    text-align: center;
    width: 100%;

    // Vertically space out multiple block buttons
    + #{$_}--block {
      margin-top: $btn-block-spacing-y;
    }
  }
}
@import '_btn.responsive';


a.n-btn.is-disabled,
fieldset:disabled a.n-btn {
  pointer-events: none;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.n-btn--block {
    width: 100%;
  }
}
