
.page{
  $_: '.page';
  &__wrapper{
    width: 100%;
  }
  &__main{
    min-height: 1px;
  }
  &__breadcrumb{
    margin-top: 8px;
    margin-bottom: 8px;
  }
  &__tags{
    margin-top: 16px;
    margin-bottom: 24px;
  }
  &__nav{
    &--sort{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  &__title{
    &--card-list{
      display: block;
      margin-bottom: 16px;
      font-size: 27px;
      font-weight: $font-weight-bold;
      line-height: 1.2;
    }
  }
  &__pagination{
    margin-top: 20px;
    margin-bottom: 20px;
    &:first-child,
    &--first{
      margin-top: 0;
    }
    &:last-child,
    &--last{
      margin-bottom: 0;
    }
  }

  &__map-switch{
    position: fixed;
    right: 16px;
    bottom: 10px;
    display: block;
    z-index: 100;
  }
  &--card-list{
    #{$_}__col{
      flex: 0 0 100%;
      width: 100%;
      &:last-child{
        display: none;
      }
    }
  }
  &--card-list-map{
    #{$_}__col{
      &:first-child{
        display: none;
      }
      &:last-child{
        display: block;
      }
    }
    .n-card-list{
      &--footer{
        display: none;
      }
    }
  }
}

@import 'page.responsive';
