.page{
  $_: '.page';
  @include media-breakpoint-up(lg) {
    &__breadcrumb{
      margin-top: 20px;
      margin-bottom: 24px;
    }
    &__title{
      &--card-list{
        margin-bottom: 12px;
      }
    }
    &__tags{
      margin-bottom: 32px;
    }
    &__map-switch{
      right: 42px;
      bottom: 30px;
    }
    &--card-list-map, .page--card-list-map &{
      #{$_}__col{
        flex: 0 0 50%;
        width: 50%;
        &:first-child,
        &:last-child{
          display: block;
        }
      }
    }
    .n-card-list{
      &--footer{
        display: block;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    &__map-switch{
      display: none;
    }
  }
}
