.n-notification{
  $_: '.n-notification';
  &__media{
    font-size: 24px;
  }
  &__icon{
    & > .n-icon{
      display: block;
    }
    &--danger{
      color: $danger;
    }
    &--secondary{
      color: $secondary;
    }
    &--accent{
      color: $accent;
    }
    &--warning{
      color: $warning;
    }
    &--success{
      color: $success;
    }
  }
  &--empty{
    #{$_}__icon{
      color: $secondary;
    }
  }
}

@import '_notification.responsive';
