@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .n-dropdown{
      $_: '.n-dropdown';
      &__menu{
        &--right{
          right: 0;
          left: auto;
        }
      }
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .n-dropdown{
      $_: '.n-dropdown';
      &__menu{
        &--left{
          right: auto;
          left: 0;
        }
      }
    }
  }
}
