.n-dropdown{
  $_: '.n-dropdown';
  &--up,
  &--right,
  &--left,
  &--down{
    position: relative;
  }
  &__toggle{
    // Generate the caret automatically
    @include caret;
  }
  // The dropdown menu
  &__menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    display: none; // none by default, but block on "open" of the menu
    float: left;
    min-width: $dropdown-min-width;
    padding: $dropdown-padding-y 0;
    margin: $dropdown-spacer 0 0; // override default ul
    font-size: $font-size-base; // Redeclare because nesting can cause inheritance issues
    color: $body-color;
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    list-style: none;
    background-color: $dropdown-bg;
    background-clip: padding-box;
    border: $dropdown-border-width solid $dropdown-border-color;
    @include border-radius($dropdown-border-radius);
    @include box-shadow($dropdown-box-shadow);

    &[x-placement^="top"],
    &[x-placement^="right"],
    &[x-placement^="bottom"],
    &[x-placement^="left"] {
      right: auto;
      bottom: auto;
    }

    &.is-show{
      display: block;
    }

  }
  &__divider{
    @include nav-divider($dropdown-divider-bg);
  }
  &--up{
    #{$_}__menu{
      top: auto;
      bottom: 100%;
      margin-top: 0;
      margin-bottom: $dropdown-spacer;
    }
    #{$_}__toggle{
      @include caret(up);
    }
  }
  &--right{
    #{$_}__menu{
      top: 0;
      right: auto;
      left: 100%;
      margin-top: 0;
      margin-left: $dropdown-spacer;
    }
    #{$_}__toggle{
      @include caret(right);
      &::after {
        vertical-align: 0;
      }
    }
  }
  &--left{
    #{$_}__menu{
      top: 0;
      right: 100%;
      left: auto;
      margin-top: 0;
      margin-right: $dropdown-spacer;
    }
    #{$_}__toggle{
      @include caret(left);
      &::before {
        vertical-align: 0;
      }
    }
  }
  &--down{
    #{$_}__menu{
      top: auto;
      bottom: 100%;
      margin-top: 0;
      margin-bottom: $dropdown-spacer;
    }
    #{$_}__toggle{
      @include caret(up);
    }
  }
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
// Just add .dropup after the standard .dropdown class and you're set.



// // Links, buttons, and more within the dropdown menu
// //
// // `<button>`-specific styles are denoted with `// For <button>s`
// .dropdown-item {
//   display: block;
//   width: 100%; // For `<button>`s
//   padding: $dropdown-item-padding-y $dropdown-item-padding-x;
//   clear: both;
//   font-weight: $font-weight-normal;
//   color: $dropdown-link-color;
//   text-align: inherit; // For `<button>`s
//   white-space: nowrap; // prevent links from randomly breaking onto new lines
//   background-color: transparent; // For `<button>`s
//   border: 0; // For `<button>`s

//   &:first-child {
//     @include border-top-radius($dropdown-inner-border-radius);
//   }

//   &:last-child {
//     @include border-bottom-radius($dropdown-inner-border-radius);
//   }

//   @include hover-focus {
//     color: $dropdown-link-hover-color;
//     text-decoration: none;
//     @include gradient-bg($dropdown-link-hover-bg);
//   }

//   &.active,
//   &:active {
//     color: $dropdown-link-active-color;
//     text-decoration: none;
//     @include gradient-bg($dropdown-link-active-bg);
//   }

//   &.disabled,
//   &:disabled {
//     color: $dropdown-link-disabled-color;
//     pointer-events: none;
//     background-color: transparent;
//     // Remove CSS gradients if they're enabled
//     @if $enable-gradients {
//       background-image: none;
//     }
//   }
// }

// // Dropdown section headers
// .dropdown-header {
//   display: block;
//   padding: $dropdown-padding-y $dropdown-item-padding-x;
//   margin-bottom: 0; // for use with heading elements
//   font-size: $font-size-sm;
//   color: $dropdown-header-color;
//   white-space: nowrap; // as with > li > a
// }

// // Dropdown text
// .dropdown-item-text {
//   display: block;
//   padding: $dropdown-item-padding-y $dropdown-item-padding-x;
//   color: $dropdown-link-color;
// }
